In [47]:
import pandas as pd
df=pd.read_csv('000001.SZ.csv',index_col=0)
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,2018.07.18,8.75,8.85,8.69,8.70,8.72,-0.02,-0.23,525152.77,460697.377
1,000001.SZ,2018.07.17,8.74,8.75,8.66,8.72,8.73,-0.01,-0.11,375356.33,326396.994
2,000001.SZ,2018/07/16,8.85,8.90,8.69,8.73,8.88,-0.15,-1.69,689845.58,603427.713
3,000001.SZ,2018/07/13,8.92,8.94,8.82,8.88,8.88,0.00,0.00,603378.21,535401.175
4,000001.SZ,2018/07/12,8.60,8.97,8.58,8.88,8.64,0.24,2.78,1140492.31,1008658.828

### 1.改变类型和索引

In [48]:
df['trade_date'].dtype

dtype('O')

In [49]:
df['trade_date']=df['trade_date'].astype('datetime64')
df['trade_date'].head(3)

0   2018-07-18
1   2018-07-17
2   2018-07-16
Name: trade_date, dtype: datetime64[ns]

In [50]:
df.set_index('trade_date',inplace=True)
df.head()

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,
2018-07-18,000001.SZ,8.75,8.85,8.69,8.70,8.72,-0.02,-0.23,525152.77,460697.377
2018-07-17,000001.SZ,8.74,8.75,8.66,8.72,8.73,-0.01,-0.11,375356.33,326396.994
2018-07-16,000001.SZ,8.85,8.90,8.69,8.73,8.88,-0.15,-1.69,689845.58,603427.713
2018-07-13,000001.SZ,8.92,8.94,8.82,8.88,8.88,0.00,0.00,603378.21,535401.175
2018-07-12,000001.SZ,8.60,8.97,8.58,8.88,8.64,0.24,2.78,1140492.31,1008658.828

### 2.计数

In [33]:
df['open'].value_counts()

8.69    2
8.60    1
8.76    1
8.74    1
8.85    1
8.63    1
8.62    1
9.02    1
8.61    1
8.92    1
9.05    1
8.75    1
Name: open, dtype: int64

In [34]:
df['open'].unique()

array([8.75, 8.74, 8.85, 8.92, 8.6 , 8.76, 9.02, 8.69, 8.61, 8.62, 8.63,
       9.05])

In [36]:
df['open'].isin( [8.74])

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
Name: open, dtype: bool

In [37]:
df[df['open'].isin( [8.74])]

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
1,000001.SZ,2018-07-17,8.74,8.75,8.66,8.72,8.73,-0.01,-0.11,375356.33,326396.994

### 3.区间划分---cut

In [51]:
df.head()

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,
2018-07-18,000001.SZ,8.75,8.85,8.69,8.70,8.72,-0.02,-0.23,525152.77,460697.377
2018-07-17,000001.SZ,8.74,8.75,8.66,8.72,8.73,-0.01,-0.11,375356.33,326396.994
2018-07-16,000001.SZ,8.85,8.90,8.69,8.73,8.88,-0.15,-1.69,689845.58,603427.713
2018-07-13,000001.SZ,8.92,8.94,8.82,8.88,8.88,0.00,0.00,603378.21,535401.175
2018-07-12,000001.SZ,8.60,8.97,8.58,8.88,8.64,0.24,2.78,1140492.31,1008658.828

In [54]:
change_min=df['change'].min()
change_max=df['change'].max()
change_min
change_max

-0.48

0.37

SyntaxError: invalid syntax (<ipython-input-55-0876c2521899>, line 1)