### 1. 法一---- pandas_datareader下的数据函数  get_date_（数据源）

pip install pandas_datareader -i https://pypi.tuna.tsinghua.edu.cn/simple

In [1]:
import  pandas_datareader as pdr

In [5]:
import  pandas_datareader as pdr
data=pdr.get_data_yahoo('AAPL')   #获取所有时间的信息

In [6]:
import  pandas_datareader.data as web
data=web.get_data_yahoo('AAPL','20170101','20170901')  #获取指定时间的信息
data.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-01-03,116.330002,114.760002,115.800003,116.150002,28781900.0,110.691154
2017-01-04,116.510002,115.750000,115.849998,116.019997,21118100.0,110.567276
2017-01-05,116.860001,115.809998,115.919998,116.610001,22193600.0,111.129562
2017-01-06,118.160004,116.470001,116.779999,117.910004,31751900.0,112.368469
2017-01-09,119.430000,117.940002,117.949997,118.989998,33561900.0,113.397697

In [7]:
import  pandas_datareader.data as web
import datetime
start = datetime.datetime(2016, 1, 1) # or start = '1/1/2016'
end = datetime.date.today()
data = web.get_data_yahoo('AAPL', start, end)

In [8]:
data.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-12-31,107.029999,104.820000,107.010002,105.260002,40912300.0,98.129669
2016-01-04,105.370003,102.000000,102.610001,105.349998,67649400.0,98.213585
2016-01-05,105.849998,102.410004,105.750000,102.709999,55791000.0,95.752419
2016-01-06,102.370003,99.870003,100.559998,100.699997,68457400.0,93.878586
2016-01-07,100.129997,96.430000,98.680000,96.449997,81094400.0,89.916473

### 2. 法二---- pandas_datareader.data  下的DataReader方法获取数据

In [ ]:
data=web.DataReader('AAPL','yahoo',start, end)
print(data)

### 3.使用quandl数据库获取信息

In [ ]:
pip install quandl -i https://pypi.tuna.tsinghua.edu.cn/simple/

### 没有传入api秘钥时只能查询到2018年3月份的

In [ ]:
import quandl
mydata = quandl.get("WIKI/AAPL")
mydata

In [ ]:
quandl.ApiConfig.api_key='-bfD_pqTxgyp1FkJ6_x-'
mydata = quandl.get("WIKI/AAPL",rows=5)
mydata

In [25]:

import pip._internal
print(pip._internal.pep425tags.get_supported())

[('cp37', 'cp37m', 'win_amd64'), ('cp37', 'none', 'win_amd64'), ('py3', 'none', 'win_amd64'), ('cp37', 'none', 'any'), ('cp3', 'none', 'any'), ('py37', 'none', 'any'), ('py3', 'none', 'any'), ('py36', 'none', 'any'), ('py35', 'none', 'any'), ('py34', 'none', 'any'), ('py33', 'none', 'any'), ('py32', 'none', 'any'), ('py31', 'none', 'any'), ('py30', 'none', 'any')]

### 4.使用quantOS进行数据的获取（中文网站）--下载jaqs包

In [ ]:
pip install jaqs -i https://pypi.tuna.tsinghua.edu.cn/simple/

In [14]:
# from jaqs.data import DataApi
from jaqs.data.dataapi import DataApi
import os
api=DataApi("tcp://data.quantos.org:8910")
user=os.environ.get('17320063569')
tokens=os.environ.get('eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1NzY4OTE4OTEyMDgiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTczMjAwNjM1NjkifQ.-62zIY--kIccxcyv8JkI4gyYwHeTuxzL-opEArRKY24')
info,msg=api.login(user,tokens)

In [15]:
print(info,msg)

False -1,empty username or password

In [58]:
df, msg = api.quote(
                symbol="000001.SH, cu1709.SHF", 
                fields="open,high,low,last,volume")

In [16]:
from jaqs.data.dataapi import DataApi
api=DataApi("tcp://data.quantos.org:8910")
# token='eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1NzY4OTE4OTEyMDgiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTczMjAwNjM1NjkifQ.-62zIY--kIccxcyv8JkI4gyYwHeTuxzL-opEArRKY24'
api.login('17320063569','eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1NzY4OTE4OTEyMDgiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTczMjAwNjM1NjkifQ.-62zIY--kIccxcyv8JkI4gyYwHeTuxzL-opEArRKY24')
df, msg = api.daily(
                symbol="600832.SH, 600030.SH",
                start_date=20121026,
                end_date=20121130,
                fields="",
                adjust_mode="post")

('username: 17320063569', '0,')

In [18]:
df,msg

(None, '-1,Failed to get data')

In [30]:
from jaqs.data.dataapi import DataApi
api=DataApi(addr="tcp://data.quantos.org:8910")
token='eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1NzY4OTE4OTEyMDgiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTczMjAwNjM1NjkifQ.-62zIY--kIccxcyv8JkI4gyYwHeTuxzL-opEArRKY24'
api.login('17320063569',token)
df, msg = api.query( view="", start_date='20170104', end_date='20171208', fields="", adjust_mode="post")

('username: 17320063569', '0,')

In [31]:
df,msg

(Empty DataFrame
 Columns: [name]
 Index: [], '0,')

In [51]:

from jaqs.data import DataApi
api=DataApi(addr="tcp://data.quantos.org:8910")
token='eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1NzY4OTE4OTEyMDgiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTczMjAwNjM1NjkifQ.-62zIY--kIccxcyv8JkI4gyYwHeTuxzL-opEArRKY24'
login_msg=api.login('17320063569',token)

login_msg

('username: 17320063569', '0,')

In [35]:
df, msg = api.daily(symbol="600030.SH,000002.SZ", start_date=20170103, end_date=20170708,
                           fields="open,high,low,close,volume,last,trade_date,settle")

In [52]:
df, msg = api.query(
                view='jz.instrumentInfo', 
                filter="index_code=000001.SH&start_date=20190306&end_date=20190306", 
               )
df, msg

(None, '0,no such view: jz.instrumentInfo')

In [ ]:
fields="status,list_date, fullname_en, market", data_format='pandas'

In [54]:
df, msg = api.quote(
                symbol="000001.SH, cu1709.SHF",
                fields="open,high,low,last,volume")
df, msg

(                last       open     symbol        low      date       time  \
 000001.SH  2973.6558  2954.8189  000001.SH  2943.0137  20191011  150059000

               volume       high
 000001.SH  161203746  2980.7875  , '0,')

In [58]:
df, msg = api.daily(
                symbol="600832.SH, 600030.SH",
                start_date=20191026,
                end_date=20191130,
                fields=""
                )
df, msg

(None, '-1,Failed to get data')