## 简单操作
安装jupyter notebook相关插件
pip install jupyter_nbextensions_configurator jupyter_contrib_nbextensions -i https://pypi.tuna.tsinghua.edu.cn/simple/

In [38]:
import pandas as pd
df = pd.DataFrame({'A1': [1, 2, 2], 'A2': [4, 3, 6],
                   'A3': [7, 2, 5]}, index=['一', '二', '三'])
df

   A1  A2  A3
一   1   4   7
二   2   3   2
三   2   6   5

### stack和unstack的使用--常用的股票中

In [5]:
df1=df.stack()
df1

一  A1    1
   A2    4
   A3    7
二  A1    2
   A2    3
   A3    2
三  A1    2
   A2    6
   A3    5
dtype: int64

In [6]:
df1.unstack()

   A1  A2  A3
一   1   4   7
二   2   3   2
三   2   6   5

### stack和set_index结合使用

In [1]:
import tushare as ts
pro=ts.pro_api('5f2dc9d17ebed3601a4fbea74148a25067d067138bf88515693e9b7d')
df=pro.stock_basic(exchange='',list_status='L', fields='ts_code,symbol,name,area,industry,list_date')
df.head()

     ts_code  symbol  name area industry list_date
0  000001.SZ  000001  平安银行   深圳       银行  19910403
1  000002.SZ  000002   万科A   深圳     全国地产  19910129
2  000004.SZ  000004  国农科技   深圳     生物制药  19910114
3  000005.SZ  000005  世纪星源   深圳     环境保护  19901210
4  000006.SZ  000006  深振业A   深圳     区域地产  19920427

In [17]:
df2=df.set_index(['ts_code','name'])
df2.head()

                symbol area industry list_date
ts_code   name
000001.SZ 平安银行  000001   深圳       银行  19910403
000002.SZ 万科A   000002   深圳     全国地产  19910129
000004.SZ 国农科技  000004   深圳     生物制药  19910114
000005.SZ 世纪星源  000005   深圳     环境保护  19901210
000006.SZ 深振业A  000006   深圳     区域地产  19920427

In [20]:
df3=df2.stack()
df3.head(10)

ts_code    name
000001.SZ  平安银行  symbol         000001
                 area               深圳
                 industry           银行
                 list_date    19910403
000002.SZ  万科A   symbol         000002
                 area               深圳
                 industry         全国地产
                 list_date    19910129
000004.SZ  国农科技  symbol         000004
                 area               深圳
dtype: object

In [22]:
df4=df3.reset_index()
df4.head()

     ts_code  name    level_2         0
0  000001.SZ  平安银行     symbol    000001
1  000001.SZ  平安银行       area        深圳
2  000001.SZ  平安银行   industry        银行
3  000001.SZ  平安银行  list_date  19910403
4  000002.SZ   万科A     symbol    000002

### 长宽表转换

In [23]:
df.head()

     ts_code  symbol  name area industry list_date
0  000001.SZ  000001  平安银行   深圳       银行  19910403
1  000002.SZ  000002   万科A   深圳     全国地产  19910129
2  000004.SZ  000004  国农科技   深圳     生物制药  19910114
3  000005.SZ  000005  世纪星源   深圳     环境保护  19901210
4  000006.SZ  000006  深振业A   深圳     区域地产  19920427

## 数据分组和透视

### 数据分组--groupby

In [4]:
pro=ts.pro_api('5f2dc9d17ebed3601a4fbea74148a25067d067138bf88515693e9b7d')
df=pro.stock_basic(exchange='',list_status='L', fields='ts_code,symbol,name,area,industry,market,list_date')
df['list_date']=df['list_date'].astype('datetime64')
df.head(10)

     ts_code  symbol   name area industry market  list_date
0  000001.SZ  000001   平安银行   深圳       银行     主板 1991-04-03
1  000002.SZ  000002    万科A   深圳     全国地产     主板 1991-01-29
2  000004.SZ  000004   国农科技   深圳     生物制药     主板 1991-01-14
3  000005.SZ  000005   世纪星源   深圳     环境保护     主板 1990-12-10
4  000006.SZ  000006   深振业A   深圳     区域地产     主板 1992-04-27
5  000007.SZ  000007    全新好   深圳     酒店餐饮     主板 1992-04-13
6  000008.SZ  000008   神州高铁   北京     运输设备     主板 1992-05-07
7  000009.SZ  000009   中国宝安   深圳      综合类     主板 1991-06-25
8  000010.SZ  000010  *ST美丽   深圳     建筑工程     主板 1995-10-27
9  000011.SZ  000011   深物业A   深圳     区域地产     主板 1992-03-30

In [20]:
df.info()   #有部分缺失值，但是不影响，因为groupby会自动忽略缺失值

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3750 entries, 0 to 3749
Data columns (total 7 columns):
ts_code      3750 non-null object
symbol       3750 non-null object
name         3750 non-null object
area         3748 non-null object
industry     3748 non-null object
market       3750 non-null object
list_date    3750 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 205.2+ KB

#### 生成一个groupby对象

In [5]:
df.head()

     ts_code  symbol  name area industry market  list_date
0  000001.SZ  000001  平安银行   深圳       银行     主板 1991-04-03
1  000002.SZ  000002   万科A   深圳     全国地产     主板 1991-01-29
2  000004.SZ  000004  国农科技   深圳     生物制药     主板 1991-01-14
3  000005.SZ  000005  世纪星源   深圳     环境保护     主板 1990-12-10
4  000006.SZ  000006  深振业A   深圳     区域地产     主板 1992-04-27

In [9]:
#按market板块进行分组,,生成一个groupby对象df1，，对其可进行相关描述
df1=df.groupby('market')
df1

In [29]:
#通过定义函数的方式，进行排序

def func(x):  
    return x.sort_values(by='list_date',ascending=False)


df1.apply(func)

               ts_code  symbol  name area industry market  list_date
market
中小板    1398  002972.SZ  002972  N科安达   深圳     运输设备    中小板 2019-12-27
       1397  002970.SZ  002970  锐明技术   深圳     通信设备    中小板 2019-12-17
       1395  002968.SZ  002968   新大正   重庆     房产服务    中小板 2019-12-03
       1396  002969.SZ  002969  嘉美包装   安徽     广告包装    中小板 2019-12-02
       1394  002967.SZ  002967  广电计量   广东      综合类    中小板 2019-11-08
       1391  002963.SZ  002963   豪尔赛   北京     装修装饰    中小板 2019-10-28
       1392  002965.SZ  002965  祥鑫科技   广东     汽车配件    中小板 2019-10-25
       1390  002962.SZ  002962  五方光电   湖北      元器件    中小板 2019-09-17
       1389  002961.SZ  002961  瑞达期货   福建     多元金融    中小板 2019-09-05
       1399  003816.SZ  003816  中国广核   深圳     新型电力    中小板 2019-08-26
       1387  002959.SZ  002959  小熊电器   广东     家用电器    中小板 2019-08-23
       1388  002960.SZ  002960  青鸟消防   河北     专用机械    中小板 2019-08-09
       1393  002966.SZ  002966  苏州银行   江苏       银行    中小板 2019-08-02
       1385  002957.SZ  002957  科瑞技术   深圳     专用机械    中小板 2019-07-26
       1384  002956.SZ  002956  西麦食品   广西       食品    中小板 2019-06-19
       1383  002955.SZ  002955  鸿合科技   北京     IT设备    中小板 2019-05-23
       1382  002953.SZ  002953  日丰股份   广东     电气设备    中小板 2019-05-09
       1381  002952.SZ  002952  亚世光电   辽宁      元器件    中小板 2019-03-28
       1386  002958.SZ  002958  青农商行   山东       银行    中小板 2019-03-26
       1380  002951.SZ  002951  金时科技   四川     广告包装    中小板 2019-03-15
       1379  002950.SZ  002950  奥美医疗   湖北     医疗保健    中小板 2019-03-11
       1378  002949.SZ  002949  华阳国际   深圳     建筑工程    中小板 2019-02-26
       1376  002947.SZ  002947   恒铭达   江苏      元器件    中小板 2019-02-01
       1375  002946.SZ  002946   新乳业   四川      乳制品    中小板 2019-01-25
       1374  002945.SZ  002945  华林证券   西藏       证券    中小板 2019-01-17
       1377  002948.SZ  002948  青岛银行   山东       银行    中小板 2019-01-16
       1372  002942.SZ  002942  新农股份   浙江     农药化肥    中小板 2018-12-05
       1373  002943.SZ  002943  宇晶股份   湖南     机床制造    中小板 2018-11-29
       1371  002941.SZ  002941  新疆交建   新疆     建筑工程    中小板 2018-11-28
       1369  002939.SZ  002939  长城证券   深圳       证券    中小板 2018-10-26
...                ...     ...   ...  ...      ...    ...        ...
科创板    3718  688116.SH  688116  天奈科技   江苏     化工原料    科创板 2019-09-25
       3726  688168.SH  688168   安博通   北京     软件服务    科创板 2019-09-06
       3739  688321.SH  688321  微芯生物   深圳     化学制药    科创板 2019-08-12
       3714  688099.SH  688099  晶晨股份   上海      半导体    科创板 2019-08-08
       3727  688188.SH  688188  柏楚电子   上海     软件服务    科创板 2019-08-08
       3683  688005.SH  688005  容百科技   浙江     电气设备    科创板 2019-07-22
       3684  688006.SH  688006  杭可科技   浙江     电气设备    科创板 2019-07-22
       3740  688333.SH  688333   铂力特   陕西     机械基件    科创板 2019-07-22
       3681  688002.SH  688002  睿创微纳   山东     通信设备    科创板 2019-07-22
       3682  688003.SH  688003  天准科技   江苏     专用机械    科创板 2019-07-22
       3697  688022.SH  688022  瀚川智能   江苏     专用机械    科创板 2019-07-22
       3703  688033.SH  688033  天宜上佳   北京     运输设备    科创板 2019-07-22
       3747  688388.SH  688388  嘉元科技   广东      元器件    科创板 2019-07-22
       3701  688029.SH  688029  南微医学   江苏     医疗保健    科创板 2019-07-22
       3685  688007.SH  688007  光峰科技   深圳      元器件    科创板 2019-07-22
       3687  688009.SH  688009  中国通号   北京     运输设备    科创板 2019-07-22
       3708  688066.SH  688066  航天宏图   北京     软件服务    科创板 2019-07-22
       3686  688008.SH  688008  澜起科技   上海      半导体    科创板 2019-07-22
       3694  688019.SH  688019  安集科技   上海      半导体    科创板 2019-07-22
       3688  688010.SH  688010  福光股份   福建     电器仪表    科创板 2019-07-22
       3711  688088.SH  688088  虹软科技   浙江     软件服务    科创板 2019-07-22
       3689  688011.SH  688011  新光光电  黑龙江      元器件    科创板 2019-07-22
       3690  688012.SH  688012  中微公司   上海     专用机械    科创板 2019-07-22
       3695  688020.SH  688020  方邦股份   广东      元器件    科创板 2019-07-22
       3700  688028.SH  688028   沃尔德   北京     专用机械    科创板 2019-07-22
       3691  688015.SH  688015  交控科技   北京     运输设备    科创板 2019-07-22
       3692  688016.SH  688016  心脉医疗   上海     医疗保健    科创板 2019-07-22
       3720  688122.SH  688122  西部超导   陕西      小金属    科创板 2019-07-22
       3693  688018.SH  688018  乐鑫科技   上海      半导体    科创板 2019-07-22
       3680  688001.SH  688001  华兴源创   江苏     专用机械    科创板 2019-07-22

[3750 rows x 7 columns]

#### 进行数量统计描述或求和
求和等运算类的描述，要求依据对象必须为数值型的
像‘industry’等类型的可进行统计
groupby对象是一个可迭代对象，通过for循环进行迭代

In [ ]:
#进行迭代
for i in df1:
    print(i)

In [20]:
#转换成列表的形式,里面包含4个元祖
df2=list(df1)
df2

[('中小板',         ts_code  symbol   name area industry market  list_date
  459   002001.SZ  002001    新和成   浙江     化学制药    中小板 2004-06-25
  460   002002.SZ  002002   鸿达兴业   江苏     化工原料    中小板 2004-06-25
  461   002003.SZ  002003   伟星股份   浙江       服饰    中小板 2004-06-25
  462   002004.SZ  002004   华邦健康   重庆     化学制药    中小板 2004-06-25
  463   002005.SZ  002005  *ST德豪   安徽     家用电器    中小板 2004-06-25
  464   002006.SZ  002006   精功科技   浙江     专用机械    中小板 2004-06-25
  465   002007.SZ  002007   华兰生物   河南     生物制药    中小板 2004-06-25
  466   002008.SZ  002008   大族激光   深圳     电器仪表    中小板 2004-06-25
  467   002009.SZ  002009   天奇股份   江苏     工程机械    中小板 2004-06-29
  468   002010.SZ  002010   传化智联   浙江     仓储物流    中小板 2004-06-29
  469   002011.SZ  002011   盾安环境   浙江     工程机械    中小板 2004-07-05
  470   002012.SZ  002012   凯恩股份   浙江       造纸    中小板 2004-07-05
  471   002013.SZ  002013   中航机电   湖北       航空    中小板 2004-07-05
  472   002014.SZ  002014   永新股份   安徽       塑料    中小板 2004-07-08
  473   002015.SZ  002015   协鑫能科   江苏     新型电力    中小板 2004-07-08
  474   002016.SZ  002016   世荣兆业   广东     区域地产    中小板 2004-07-08
  475   002017.SZ  002017   东信和平   广东     通信设备    中小板 2004-07-13
  476   002019.SZ  002019   亿帆医药   浙江     化学制药    中小板 2004-07-13
  477   002020.SZ  002020   京新药业   浙江     化学制药    中小板 2004-07-15
  478   002021.SZ  002021  *ST中捷   浙江     纺织机械    中小板 2004-07-15
  479   002022.SZ  002022   科华生物   上海     医疗保健    中小板 2004-07-21
  480   002023.SZ  002023   海特高新   四川       航空    中小板 2004-07-21
  481   002024.SZ  002024   苏宁易购   江苏     电器连锁    中小板 2004-07-21
  482   002025.SZ  002025   航天电器   贵州      元器件    中小板 2004-07-26
  483   002026.SZ  002026   山东威达   山东     机械基件    中小板 2004-07-27
  484   002027.SZ  002027   分众传媒   广东     影视音像    中小板 2004-08-04
  485   002028.SZ  002028   思源电气   上海     电气设备    中小板 2004-08-05
  486   002029.SZ  002029    七匹狼   福建       服饰    中小板 2004-08-06
  487   002030.SZ  002030   达安基因   广东     生物制药    中小板 2004-08-09
  488   002031.SZ  002031   巨轮智能   广东     汽车配件    中小板 2004-08-16
  ...         ...     ...    ...  ...      ...    ...        ...
  1370  002940.SZ  002940    昂利康   浙江     化学制药    中小板 2018-10-23
  1371  002941.SZ  002941   新疆交建   新疆     建筑工程    中小板 2018-11-28
  1372  002942.SZ  002942   新农股份   浙江     农药化肥    中小板 2018-12-05
  1373  002943.SZ  002943   宇晶股份   湖南     机床制造    中小板 2018-11-29
  1374  002945.SZ  002945   华林证券   西藏       证券    中小板 2019-01-17
  1375  002946.SZ  002946    新乳业   四川      乳制品    中小板 2019-01-25
  1376  002947.SZ  002947    恒铭达   江苏      元器件    中小板 2019-02-01
  1377  002948.SZ  002948   青岛银行   山东       银行    中小板 2019-01-16
  1378  002949.SZ  002949   华阳国际   深圳     建筑工程    中小板 2019-02-26
  1379  002950.SZ  002950   奥美医疗   湖北     医疗保健    中小板 2019-03-11
  1380  002951.SZ  002951   金时科技   四川     广告包装    中小板 2019-03-15
  1381  002952.SZ  002952   亚世光电   辽宁      元器件    中小板 2019-03-28
  1382  002953.SZ  002953   日丰股份   广东     电气设备    中小板 2019-05-09
  1383  002955.SZ  002955   鸿合科技   北京     IT设备    中小板 2019-05-23
  1384  002956.SZ  002956   西麦食品   广西       食品    中小板 2019-06-19
  1385  002957.SZ  002957   科瑞技术   深圳     专用机械    中小板 2019-07-26
  1386  002958.SZ  002958   青农商行   山东       银行    中小板 2019-03-26
  1387  002959.SZ  002959   小熊电器   广东     家用电器    中小板 2019-08-23
  1388  002960.SZ  002960   青鸟消防   河北     专用机械    中小板 2019-08-09
  1389  002961.SZ  002961   瑞达期货   福建     多元金融    中小板 2019-09-05
  1390  002962.SZ  002962   五方光电   湖北      元器件    中小板 2019-09-17
  1391  002963.SZ  002963    豪尔赛   北京     装修装饰    中小板 2019-10-28
  1392  002965.SZ  002965   祥鑫科技   广东     汽车配件    中小板 2019-10-25
  1393  002966.SZ  002966   苏州银行   江苏       银行    中小板 2019-08-02
  1394  002967.SZ  002967   广电计量   广东      综合类    中小板 2019-11-08
  1395  002968.SZ  002968    新大正   重庆     房产服务    中小板 2019-12-03
  1396  002969.SZ  002969   嘉美包装   安徽     广告包装    中小板 2019-12-02
  1397  002970.SZ  002970   锐明技术   深圳     通信设备    中小板 2019-12-17
  1398  002972.SZ  002972   N科安达   深圳     运输设备    中小板 2019-12-27
  1399  003816.SZ  003816   中国广核   深圳     新型电力    中小板 2019-08-26

  [941 rows x 7 columns]),
 ('主板',         ts_code  symbol   name  area industry market  list_date
  0     000001.SZ  000001   平安银行    深圳       银行     主板 1991-04-03
  1     000002.SZ  000002    万科A    深圳     全国地产     主板 1991-01-29
  2     000004.SZ  000004   国农科技    深圳     生物制药     主板 1991-01-14
  3     000005.SZ  000005   世纪星源    深圳     环境保护     主板 1990-12-10
  4     000006.SZ  000006   深振业A    深圳     区域地产     主板 1992-04-27
  5     000007.SZ  000007    全新好    深圳     酒店餐饮     主板 1992-04-13
  6     000008.SZ  000008   神州高铁    北京     运输设备     主板 1992-05-07
  7     000009.SZ  000009   中国宝安    深圳      综合类     主板 1991-06-25
  8     000010.SZ  000010  *ST美丽    深圳     建筑工程     主板 1995-10-27
  9     000011.SZ  000011   深物业A    深圳     区域地产     主板 1992-03-30
  10    000012.SZ  000012    南玻A    深圳       玻璃     主板 1992-02-28
  11    000014.SZ  000014   沙河股份    深圳     全国地产     主板 1992-06-02
  12    000016.SZ  000016   深康佳A    深圳     家用电器     主板 1992-03-27
  13    000017.SZ  000017   深中华A    深圳     文教休闲     主板 1992-03-31
  14    000018.SZ  000018   神城A退  None     None     主板 1992-06-16
  15    000019.SZ  000019   深粮控股    深圳     其他商业     主板 1992-10-12
  16    000020.SZ  000020   深华发A    深圳      元器件     主板 1992-04-28
  17    000021.SZ  000021    深科技    深圳     IT设备     主板 1994-02-02
  18    000023.SZ  000023   深天地A    深圳     其他建材     主板 1993-04-29
  19    000025.SZ  000025    特力A    深圳     汽车服务     主板 1993-06-21
  20    000026.SZ  000026   飞亚达A    深圳     其他商业     主板 1993-06-03
  21    000027.SZ  000027   深圳能源    深圳     火力发电     主板 1993-09-03
  22    000028.SZ  000028   国药一致    深圳     医药商业     主板 1993-08-09
  23    000029.SZ  000029   深深房A    深圳     区域地产     主板 1993-09-15
  24    000030.SZ  000030   富奥股份    吉林     汽车配件     主板 1993-09-29
  25    000031.SZ  000031    大悦城    深圳     全国地产     主板 1993-10-08
  26    000032.SZ  000032   深桑达A    深圳      元器件     主板 1993-10-28
  27    000034.SZ  000034   神州数码    深圳      综合类     主板 1994-05-09
  28    000035.SZ  000035   中国天楹    江苏     环境保护     主板 1994-04-08
  29    000036.SZ  000036   华联控股    深圳     全国地产     主板 1994-06-17
  ...         ...     ...    ...   ...      ...    ...        ...
  3650  603958.SH  603958   哈森股份    江苏       服饰     主板 2016-06-29
  3651  603959.SH  603959   百利科技    湖南     建筑工程     主板 2016-05-17
  3652  603960.SH  603960   克来机电    上海     专用机械     主板 2017-03-14
  3653  603963.SH  603963   大理药业    云南     化学制药     主板 2017-09-22
  3654  603966.SH  603966   法兰泰克    江苏     机械基件     主板 2017-01-25
  3655  603967.SH  603967   中创物流    山东     仓储物流     主板 2019-04-29
  3656  603968.SH  603968   醋化股份    江苏     化工原料     主板 2015-05-18
  3657  603969.SH  603969   银龙股份    天津     其他建材     主板 2015-02-27
  3658  603970.SH  603970   中农立华    北京     其他商业     主板 2017-11-16
  3659  603976.SH  603976   正川股份    重庆     医疗保健     主板 2017-08-22
  3660  603977.SH  603977   国泰集团    江西     化工原料     主板 2016-11-11
  3661  603978.SH  603978   深圳新星    深圳        铝     主板 2017-08-07
  3662  603979.SH  603979    金诚信    北京     建筑工程     主板 2015-06-30
  3663  603980.SH  603980   吉华集团    浙江     染料涂料     主板 2017-06-15
  3664  603982.SH  603982   泉峰汽车    江苏     汽车配件     主板 2019-05-22
  3665  603983.SH  603983   丸美股份    广东     日用化工     主板 2019-07-25
  3666  603985.SH  603985   恒润股份    江苏     机械基件     主板 2017-05-05
  3667  603986.SH  603986   兆易创新    北京      半导体     主板 2016-08-18
  3668  603987.SH  603987    康德莱    上海     医疗保健     主板 2016-11-21
  3669  603988.SH  603988   中电电机    江苏     电气设备     主板 2014-11-04
  3670  603989.SH  603989   艾华集团    湖南      元器件     主板 2015-05-15
  3671  603990.SH  603990   麦迪科技    江苏     软件服务     主板 2016-12-08
  3672  603991.SH  603991   至正股份    上海       塑料     主板 2017-03-08
  3673  603992.SH  603992   松霖科技    福建     家居用品     主板 2019-08-26
  3674  603993.SH  603993   洛阳钼业    河南      小金属     主板 2012-10-09
  3675  603995.SH  603995   甬金股份    浙江      特种钢     主板 2019-12-24
  3676  603996.SH  603996   ST中新    浙江     家用电器     主板 2015-12-22
  3677  603997.SH  603997   继峰股份    浙江     汽车配件     主板 2015-03-02
  3678  603998.SH  603998   方盛制药    湖南      中成药     主板 2014-12-05
  3679  603999.SH  603999   读者传媒    甘肃      出版业     主板 2015-12-10

  [1951 rows x 7 columns]),
 ('创业板',         ts_code  symbol  name area industry market  list_date
  1400  300001.SZ  300001   特锐德   山东     电气设备    创业板 2009-10-30
  1401  300002.SZ  300002  神州泰岳   北京     软件服务    创业板 2009-10-30
  1402  300003.SZ  300003  乐普医疗   北京     医疗保健    创业板 2009-10-30
  1403  300004.SZ  300004  南风股份   广东     电气设备    创业板 2009-10-30
  1404  300005.SZ  300005   探路者   北京       服饰    创业板 2009-10-30
  1405  300006.SZ  300006  莱美药业   重庆     化学制药    创业板 2009-10-30
  1406  300007.SZ  300007  汉威科技   河南     电器仪表    创业板 2009-10-30
  1407  300008.SZ  300008  天海防务   上海       船舶    创业板 2009-10-30
  1408  300009.SZ  300009  安科生物   安徽     生物制药    创业板 2009-10-30
  1409  300010.SZ  300010   立思辰   北京     软件服务    创业板 2009-10-30
  1410  300011.SZ  300011  鼎汉技术   北京     运输设备    创业板 2009-10-30
  1411  300012.SZ  300012  华测检测   深圳     电器仪表    创业板 2009-10-30
  1412  300013.SZ  300013  新宁物流   江苏     仓储物流    创业板 2009-10-30
  1413  300014.SZ  300014  亿纬锂能   广东     电气设备    创业板 2009-10-30
  1414  300015.SZ  300015  爱尔眼科   湖南     医疗保健    创业板 2009-10-30
  1415  300016.SZ  300016  北陆药业   北京      中成药    创业板 2009-10-30
  1416  300017.SZ  300017  网宿科技   上海     电信运营    创业板 2009-10-30
  1417  300018.SZ  300018  中元股份   湖北     电气设备    创业板 2009-10-30
  1418  300019.SZ  300019  硅宝科技   四川     化工原料    创业板 2009-10-30
  1419  300020.SZ  300020  银江股份   浙江     软件服务    创业板 2009-10-30
  1420  300021.SZ  300021  大禹节水   甘肃     农业综合    创业板 2009-10-30
  1421  300022.SZ  300022  吉峰科技   四川     农用机械    创业板 2009-10-30
  1422  300023.SZ  300023  宝德股份   陕西     专用机械    创业板 2009-10-30
  1423  300024.SZ  300024   机器人   辽宁     专用机械    创业板 2009-10-30
  1424  300025.SZ  300025  华星创业   浙江     通信设备    创业板 2009-10-30
  1425  300026.SZ  300026  红日药业   天津      中成药    创业板 2009-10-30
  1426  300027.SZ  300027  华谊兄弟   浙江     影视音像    创业板 2009-10-30
  1427  300029.SZ  300029  天龙光电   江苏     专用机械    创业板 2009-12-25
  1428  300030.SZ  300030  阳普医疗   广东     医疗保健    创业板 2009-12-25
  1429  300031.SZ  300031  宝通科技   江苏      互联网    创业板 2009-12-25
  ...         ...     ...   ...  ...      ...    ...        ...
  2158  300779.SZ  300779  惠城环保   山东     环境保护    创业板 2019-05-22
  2159  300780.SZ  300780  德恩精工   四川     机械基件    创业板 2019-05-31
  2160  300781.SZ  300781  因赛集团   广东     广告包装    创业板 2019-06-06
  2161  300782.SZ  300782   卓胜微   江苏      元器件    创业板 2019-06-18
  2162  300783.SZ  300783  三只松鼠   安徽       食品    创业板 2019-07-12
  2163  300785.SZ  300785   值得买   北京      互联网    创业板 2019-07-15
  2164  300786.SZ  300786  国林科技   山东     环境保护    创业板 2019-07-23
  2165  300787.SZ  300787  海能实业   江西     通信设备    创业板 2019-08-15
  2166  300788.SZ  300788  中信出版   北京      出版业    创业板 2019-07-05
  2167  300789.SZ  300789  唐源电气   四川     软件服务    创业板 2019-08-28
  2168  300790.SZ  300790  宇瞳光学   广东     电器仪表    创业板 2019-09-20
  2169  300791.SZ  300791  仙乐健康   广东     医疗保健    创业板 2019-09-25
  2170  300792.SZ  300792  壹网壹创   浙江      互联网    创业板 2019-09-27
  2171  300793.SZ  300793  佳禾智能   广东     IT设备    创业板 2019-10-18
  2172  300795.SZ  300795  米奥兰特   浙江      综合类    创业板 2019-10-22
  2173  300796.SZ  300796   贝斯美   浙江     化工原料    创业板 2019-11-15
  2174  300797.SZ  300797  钢研纳克   北京     电器仪表    创业板 2019-11-01
  2175  300798.SZ  300798  锦鸡股份   江苏     染料涂料    创业板 2019-11-22
  2176  300799.SZ  300799  左江科技   北京     软件服务    创业板 2019-10-29
  2177  300800.SZ  300800  力合科技   湖南     电器仪表    创业板 2019-11-06
  2178  300801.SZ  300801  泰和科技   山东     化工原料    创业板 2019-11-28
  2179  300802.SZ  300802  矩子科技   上海     IT设备    创业板 2019-11-14
  2180  300803.SZ  300803   指南针   北京     软件服务    创业板 2019-11-18
  2181  300805.SZ  300805  电声股份   广东     广告包装    创业板 2019-11-21
  2182  300806.SZ  300806   斯迪克   江苏       塑料    创业板 2019-11-25
  2183  300807.SZ  300807  天迈科技   河南     软件服务    创业板 2019-12-19
  2184  300808.SZ  300808  久量股份   广东     家用电器    创业板 2019-11-29
  2185  300809.SZ  300809  华辰装备   江苏     机床制造    创业板 2019-12-04
  2186  300810.SZ  300810  中科海讯   北京     软件服务    创业板 2019-12-06
  2187  300811.SZ  300811  铂科新材   深圳      元器件    创业板 2019-12-30

  [788 rows x 7 columns]),
 ('科创板',         ts_code  symbol  name area industry market  list_date
  3680  688001.SH  688001  华兴源创   江苏     专用机械    科创板 2019-07-22
  3681  688002.SH  688002  睿创微纳   山东     通信设备    科创板 2019-07-22
  3682  688003.SH  688003  天准科技   江苏     专用机械    科创板 2019-07-22
  3683  688005.SH  688005  容百科技   浙江     电气设备    科创板 2019-07-22
  3684  688006.SH  688006  杭可科技   浙江     电气设备    科创板 2019-07-22
  3685  688007.SH  688007  光峰科技   深圳      元器件    科创板 2019-07-22
  3686  688008.SH  688008  澜起科技   上海      半导体    科创板 2019-07-22
  3687  688009.SH  688009  中国通号   北京     运输设备    科创板 2019-07-22
  3688  688010.SH  688010  福光股份   福建     电器仪表    科创板 2019-07-22
  3689  688011.SH  688011  新光光电  黑龙江      元器件    科创板 2019-07-22
  3690  688012.SH  688012  中微公司   上海     专用机械    科创板 2019-07-22
  3691  688015.SH  688015  交控科技   北京     运输设备    科创板 2019-07-22
  3692  688016.SH  688016  心脉医疗   上海     医疗保健    科创板 2019-07-22
  3693  688018.SH  688018  乐鑫科技   上海      半导体    科创板 2019-07-22
  3694  688019.SH  688019  安集科技   上海      半导体    科创板 2019-07-22
  3695  688020.SH  688020  方邦股份   广东      元器件    科创板 2019-07-22
  3696  688021.SH  688021  奥福环保   山东     环境保护    科创板 2019-11-06
  3697  688022.SH  688022  瀚川智能   江苏     专用机械    科创板 2019-07-22
  3698  688023.SH  688023  安恒信息   浙江     软件服务    科创板 2019-11-05
  3699  688025.SH  688025   杰普特   深圳      元器件    科创板 2019-10-31
  3700  688028.SH  688028   沃尔德   北京     专用机械    科创板 2019-07-22
  3701  688029.SH  688029  南微医学   江苏     医疗保健    科创板 2019-07-22
  3702  688030.SH  688030  山石网科   江苏     软件服务    科创板 2019-09-30
  3703  688033.SH  688033  天宜上佳   北京     运输设备    科创板 2019-07-22
  3704  688036.SH  688036  传音控股   深圳     通信设备    科创板 2019-09-30
  3705  688037.SH  688037   芯源微   辽宁      半导体    科创板 2019-12-16
  3706  688039.SH  688039  当虹科技   浙江     软件服务    科创板 2019-12-11
  3707  688058.SH  688058   宝兰德   北京     软件服务    科创板 2019-11-01
  3708  688066.SH  688066  航天宏图   北京     软件服务    科创板 2019-07-22
  3709  688068.SH  688068  热景生物   北京     医疗保健    科创板 2019-09-30
  ...         ...     ...   ...  ...      ...    ...        ...
  3720  688122.SH  688122  西部超导   陕西      小金属    科创板 2019-07-22
  3721  688123.SH  688123  聚辰股份   上海      半导体    科创板 2019-12-23
  3722  688128.SH  688128  中国电研   广东     专用机械    科创板 2019-11-05
  3723  688138.SH  688138  清溢光电   深圳      元器件    科创板 2019-11-20
  3724  688139.SH  688139  海尔生物   山东     医疗保健    科创板 2019-10-25
  3725  688166.SH  688166  博瑞医药   江苏     化学制药    科创板 2019-11-08
  3726  688168.SH  688168   安博通   北京     软件服务    科创板 2019-09-06
  3727  688188.SH  688188  柏楚电子   上海     软件服务    科创板 2019-08-08
  3728  688196.SH  688196  卓越新能   福建     环境保护    科创板 2019-11-21
  3729  688198.SH  688198  佰仁医疗   北京     医疗保健    科创板 2019-12-09
  3730  688199.SH  688199  久日新材   天津     化工原料    科创板 2019-11-05
  3731  688202.SH  688202   美迪西   上海     医疗保健    科创板 2019-11-05
  3732  688218.SH  688218  江苏北人   江苏     专用机械    科创板 2019-12-11
  3733  688258.SH  688258  卓易信息   江苏     软件服务    科创板 2019-12-09
  3734  688268.SH  688268  华特气体   广东     化工原料    科创板 2019-12-26
  3735  688288.SH  688288  鸿泉物联   浙江     汽车配件    科创板 2019-11-06
  3736  688299.SH  688299  长阳科技   浙江       塑料    科创板 2019-11-06
  3737  688300.SH  688300  联瑞新材   江苏     矿物制品    科创板 2019-11-15
  3738  688310.SH  688310  迈得医疗   浙江     医疗保健    科创板 2019-12-03
  3739  688321.SH  688321  微芯生物   深圳     化学制药    科创板 2019-08-12
  3740  688333.SH  688333   铂力特   陕西     机械基件    科创板 2019-07-22
  3741  688357.SH  688357  建龙微纳   河南     化工原料    科创板 2019-12-04
  3742  688358.SH  688358  祥生医疗   江苏     医疗保健    科创板 2019-12-03
  3743  688363.SH  688363  华熙生物   山东     生物制药    科创板 2019-11-06
  3744  688366.SH  688366  昊海生科   上海     生物制药    科创板 2019-10-30
  3745  688368.SH  688368  晶丰明源   上海      半导体    科创板 2019-10-14
  3746  688369.SH  688369  致远互联   北京     软件服务    科创板 2019-10-31
  3747  688388.SH  688388  嘉元科技   广东      元器件    科创板 2019-07-22
  3748  688389.SH  688389  普门科技   深圳     医疗保健    科创板 2019-11-05
  3749  688399.SH  688399  硕世生物   江苏     医疗保健    科创板 2019-12-05

  [70 rows x 7 columns])]

In [23]:
len(df2)

4

In [21]:
#转换成字典的形式的形式,需要先转换成列表，再转换成字典
df3=dict(list(df1))
df3

{'中小板':         ts_code  symbol   name area industry market  list_date
 459   002001.SZ  002001    新和成   浙江     化学制药    中小板 2004-06-25
 460   002002.SZ  002002   鸿达兴业   江苏     化工原料    中小板 2004-06-25
 461   002003.SZ  002003   伟星股份   浙江       服饰    中小板 2004-06-25
 462   002004.SZ  002004   华邦健康   重庆     化学制药    中小板 2004-06-25
 463   002005.SZ  002005  *ST德豪   安徽     家用电器    中小板 2004-06-25
 464   002006.SZ  002006   精功科技   浙江     专用机械    中小板 2004-06-25
 465   002007.SZ  002007   华兰生物   河南     生物制药    中小板 2004-06-25
 466   002008.SZ  002008   大族激光   深圳     电器仪表    中小板 2004-06-25
 467   002009.SZ  002009   天奇股份   江苏     工程机械    中小板 2004-06-29
 468   002010.SZ  002010   传化智联   浙江     仓储物流    中小板 2004-06-29
 469   002011.SZ  002011   盾安环境   浙江     工程机械    中小板 2004-07-05
 470   002012.SZ  002012   凯恩股份   浙江       造纸    中小板 2004-07-05
 471   002013.SZ  002013   中航机电   湖北       航空    中小板 2004-07-05
 472   002014.SZ  002014   永新股份   安徽       塑料    中小板 2004-07-08
 473   002015.SZ  002015   协鑫能科   江苏     新型电力    中小板 2004-07-08
 474   002016.SZ  002016   世荣兆业   广东     区域地产    中小板 2004-07-08
 475   002017.SZ  002017   东信和平   广东     通信设备    中小板 2004-07-13
 476   002019.SZ  002019   亿帆医药   浙江     化学制药    中小板 2004-07-13
 477   002020.SZ  002020   京新药业   浙江     化学制药    中小板 2004-07-15
 478   002021.SZ  002021  *ST中捷   浙江     纺织机械    中小板 2004-07-15
 479   002022.SZ  002022   科华生物   上海     医疗保健    中小板 2004-07-21
 480   002023.SZ  002023   海特高新   四川       航空    中小板 2004-07-21
 481   002024.SZ  002024   苏宁易购   江苏     电器连锁    中小板 2004-07-21
 482   002025.SZ  002025   航天电器   贵州      元器件    中小板 2004-07-26
 483   002026.SZ  002026   山东威达   山东     机械基件    中小板 2004-07-27
 484   002027.SZ  002027   分众传媒   广东     影视音像    中小板 2004-08-04
 485   002028.SZ  002028   思源电气   上海     电气设备    中小板 2004-08-05
 486   002029.SZ  002029    七匹狼   福建       服饰    中小板 2004-08-06
 487   002030.SZ  002030   达安基因   广东     生物制药    中小板 2004-08-09
 488   002031.SZ  002031   巨轮智能   广东     汽车配件    中小板 2004-08-16
 ...         ...     ...    ...  ...      ...    ...        ...
 1370  002940.SZ  002940    昂利康   浙江     化学制药    中小板 2018-10-23
 1371  002941.SZ  002941   新疆交建   新疆     建筑工程    中小板 2018-11-28
 1372  002942.SZ  002942   新农股份   浙江     农药化肥    中小板 2018-12-05
 1373  002943.SZ  002943   宇晶股份   湖南     机床制造    中小板 2018-11-29
 1374  002945.SZ  002945   华林证券   西藏       证券    中小板 2019-01-17
 1375  002946.SZ  002946    新乳业   四川      乳制品    中小板 2019-01-25
 1376  002947.SZ  002947    恒铭达   江苏      元器件    中小板 2019-02-01
 1377  002948.SZ  002948   青岛银行   山东       银行    中小板 2019-01-16
 1378  002949.SZ  002949   华阳国际   深圳     建筑工程    中小板 2019-02-26
 1379  002950.SZ  002950   奥美医疗   湖北     医疗保健    中小板 2019-03-11
 1380  002951.SZ  002951   金时科技   四川     广告包装    中小板 2019-03-15
 1381  002952.SZ  002952   亚世光电   辽宁      元器件    中小板 2019-03-28
 1382  002953.SZ  002953   日丰股份   广东     电气设备    中小板 2019-05-09
 1383  002955.SZ  002955   鸿合科技   北京     IT设备    中小板 2019-05-23
 1384  002956.SZ  002956   西麦食品   广西       食品    中小板 2019-06-19
 1385  002957.SZ  002957   科瑞技术   深圳     专用机械    中小板 2019-07-26
 1386  002958.SZ  002958   青农商行   山东       银行    中小板 2019-03-26
 1387  002959.SZ  002959   小熊电器   广东     家用电器    中小板 2019-08-23
 1388  002960.SZ  002960   青鸟消防   河北     专用机械    中小板 2019-08-09
 1389  002961.SZ  002961   瑞达期货   福建     多元金融    中小板 2019-09-05
 1390  002962.SZ  002962   五方光电   湖北      元器件    中小板 2019-09-17
 1391  002963.SZ  002963    豪尔赛   北京     装修装饰    中小板 2019-10-28
 1392  002965.SZ  002965   祥鑫科技   广东     汽车配件    中小板 2019-10-25
 1393  002966.SZ  002966   苏州银行   江苏       银行    中小板 2019-08-02
 1394  002967.SZ  002967   广电计量   广东      综合类    中小板 2019-11-08
 1395  002968.SZ  002968    新大正   重庆     房产服务    中小板 2019-12-03
 1396  002969.SZ  002969   嘉美包装   安徽     广告包装    中小板 2019-12-02
 1397  002970.SZ  002970   锐明技术   深圳     通信设备    中小板 2019-12-17
 1398  002972.SZ  002972   N科安达   深圳     运输设备    中小板 2019-12-27
 1399  003816.SZ  003816   中国广核   深圳     新型电力    中小板 2019-08-26

 [941 rows x 7 columns],
 '主板':         ts_code  symbol   name  area industry market  list_date
 0     000001.SZ  000001   平安银行    深圳       银行     主板 1991-04-03
 1     000002.SZ  000002    万科A    深圳     全国地产     主板 1991-01-29
 2     000004.SZ  000004   国农科技    深圳     生物制药     主板 1991-01-14
 3     000005.SZ  000005   世纪星源    深圳     环境保护     主板 1990-12-10
 4     000006.SZ  000006   深振业A    深圳     区域地产     主板 1992-04-27
 5     000007.SZ  000007    全新好    深圳     酒店餐饮     主板 1992-04-13
 6     000008.SZ  000008   神州高铁    北京     运输设备     主板 1992-05-07
 7     000009.SZ  000009   中国宝安    深圳      综合类     主板 1991-06-25
 8     000010.SZ  000010  *ST美丽    深圳     建筑工程     主板 1995-10-27
 9     000011.SZ  000011   深物业A    深圳     区域地产     主板 1992-03-30
 10    000012.SZ  000012    南玻A    深圳       玻璃     主板 1992-02-28
 11    000014.SZ  000014   沙河股份    深圳     全国地产     主板 1992-06-02
 12    000016.SZ  000016   深康佳A    深圳     家用电器     主板 1992-03-27
 13    000017.SZ  000017   深中华A    深圳     文教休闲     主板 1992-03-31
 14    000018.SZ  000018   神城A退  None     None     主板 1992-06-16
 15    000019.SZ  000019   深粮控股    深圳     其他商业     主板 1992-10-12
 16    000020.SZ  000020   深华发A    深圳      元器件     主板 1992-04-28
 17    000021.SZ  000021    深科技    深圳     IT设备     主板 1994-02-02
 18    000023.SZ  000023   深天地A    深圳     其他建材     主板 1993-04-29
 19    000025.SZ  000025    特力A    深圳     汽车服务     主板 1993-06-21
 20    000026.SZ  000026   飞亚达A    深圳     其他商业     主板 1993-06-03
 21    000027.SZ  000027   深圳能源    深圳     火力发电     主板 1993-09-03
 22    000028.SZ  000028   国药一致    深圳     医药商业     主板 1993-08-09
 23    000029.SZ  000029   深深房A    深圳     区域地产     主板 1993-09-15
 24    000030.SZ  000030   富奥股份    吉林     汽车配件     主板 1993-09-29
 25    000031.SZ  000031    大悦城    深圳     全国地产     主板 1993-10-08
 26    000032.SZ  000032   深桑达A    深圳      元器件     主板 1993-10-28
 27    000034.SZ  000034   神州数码    深圳      综合类     主板 1994-05-09
 28    000035.SZ  000035   中国天楹    江苏     环境保护     主板 1994-04-08
 29    000036.SZ  000036   华联控股    深圳     全国地产     主板 1994-06-17
 ...         ...     ...    ...   ...      ...    ...        ...
 3650  603958.SH  603958   哈森股份    江苏       服饰     主板 2016-06-29
 3651  603959.SH  603959   百利科技    湖南     建筑工程     主板 2016-05-17
 3652  603960.SH  603960   克来机电    上海     专用机械     主板 2017-03-14
 3653  603963.SH  603963   大理药业    云南     化学制药     主板 2017-09-22
 3654  603966.SH  603966   法兰泰克    江苏     机械基件     主板 2017-01-25
 3655  603967.SH  603967   中创物流    山东     仓储物流     主板 2019-04-29
 3656  603968.SH  603968   醋化股份    江苏     化工原料     主板 2015-05-18
 3657  603969.SH  603969   银龙股份    天津     其他建材     主板 2015-02-27
 3658  603970.SH  603970   中农立华    北京     其他商业     主板 2017-11-16
 3659  603976.SH  603976   正川股份    重庆     医疗保健     主板 2017-08-22
 3660  603977.SH  603977   国泰集团    江西     化工原料     主板 2016-11-11
 3661  603978.SH  603978   深圳新星    深圳        铝     主板 2017-08-07
 3662  603979.SH  603979    金诚信    北京     建筑工程     主板 2015-06-30
 3663  603980.SH  603980   吉华集团    浙江     染料涂料     主板 2017-06-15
 3664  603982.SH  603982   泉峰汽车    江苏     汽车配件     主板 2019-05-22
 3665  603983.SH  603983   丸美股份    广东     日用化工     主板 2019-07-25
 3666  603985.SH  603985   恒润股份    江苏     机械基件     主板 2017-05-05
 3667  603986.SH  603986   兆易创新    北京      半导体     主板 2016-08-18
 3668  603987.SH  603987    康德莱    上海     医疗保健     主板 2016-11-21
 3669  603988.SH  603988   中电电机    江苏     电气设备     主板 2014-11-04
 3670  603989.SH  603989   艾华集团    湖南      元器件     主板 2015-05-15
 3671  603990.SH  603990   麦迪科技    江苏     软件服务     主板 2016-12-08
 3672  603991.SH  603991   至正股份    上海       塑料     主板 2017-03-08
 3673  603992.SH  603992   松霖科技    福建     家居用品     主板 2019-08-26
 3674  603993.SH  603993   洛阳钼业    河南      小金属     主板 2012-10-09
 3675  603995.SH  603995   甬金股份    浙江      特种钢     主板 2019-12-24
 3676  603996.SH  603996   ST中新    浙江     家用电器     主板 2015-12-22
 3677  603997.SH  603997   继峰股份    浙江     汽车配件     主板 2015-03-02
 3678  603998.SH  603998   方盛制药    湖南      中成药     主板 2014-12-05
 3679  603999.SH  603999   读者传媒    甘肃      出版业     主板 2015-12-10

 [1951 rows x 7 columns],
 '创业板':         ts_code  symbol  name area industry market  list_date
 1400  300001.SZ  300001   特锐德   山东     电气设备    创业板 2009-10-30
 1401  300002.SZ  300002  神州泰岳   北京     软件服务    创业板 2009-10-30
 1402  300003.SZ  300003  乐普医疗   北京     医疗保健    创业板 2009-10-30
 1403  300004.SZ  300004  南风股份   广东     电气设备    创业板 2009-10-30
 1404  300005.SZ  300005   探路者   北京       服饰    创业板 2009-10-30
 1405  300006.SZ  300006  莱美药业   重庆     化学制药    创业板 2009-10-30
 1406  300007.SZ  300007  汉威科技   河南     电器仪表    创业板 2009-10-30
 1407  300008.SZ  300008  天海防务   上海       船舶    创业板 2009-10-30
 1408  300009.SZ  300009  安科生物   安徽     生物制药    创业板 2009-10-30
 1409  300010.SZ  300010   立思辰   北京     软件服务    创业板 2009-10-30
 1410  300011.SZ  300011  鼎汉技术   北京     运输设备    创业板 2009-10-30
 1411  300012.SZ  300012  华测检测   深圳     电器仪表    创业板 2009-10-30
 1412  300013.SZ  300013  新宁物流   江苏     仓储物流    创业板 2009-10-30
 1413  300014.SZ  300014  亿纬锂能   广东     电气设备    创业板 2009-10-30
 1414  300015.SZ  300015  爱尔眼科   湖南     医疗保健    创业板 2009-10-30
 1415  300016.SZ  300016  北陆药业   北京      中成药    创业板 2009-10-30
 1416  300017.SZ  300017  网宿科技   上海     电信运营    创业板 2009-10-30
 1417  300018.SZ  300018  中元股份   湖北     电气设备    创业板 2009-10-30
 1418  300019.SZ  300019  硅宝科技   四川     化工原料    创业板 2009-10-30
 1419  300020.SZ  300020  银江股份   浙江     软件服务    创业板 2009-10-30
 1420  300021.SZ  300021  大禹节水   甘肃     农业综合    创业板 2009-10-30
 1421  300022.SZ  300022  吉峰科技   四川     农用机械    创业板 2009-10-30
 1422  300023.SZ  300023  宝德股份   陕西     专用机械    创业板 2009-10-30
 1423  300024.SZ  300024   机器人   辽宁     专用机械    创业板 2009-10-30
 1424  300025.SZ  300025  华星创业   浙江     通信设备    创业板 2009-10-30
 1425  300026.SZ  300026  红日药业   天津      中成药    创业板 2009-10-30
 1426  300027.SZ  300027  华谊兄弟   浙江     影视音像    创业板 2009-10-30
 1427  300029.SZ  300029  天龙光电   江苏     专用机械    创业板 2009-12-25
 1428  300030.SZ  300030  阳普医疗   广东     医疗保健    创业板 2009-12-25
 1429  300031.SZ  300031  宝通科技   江苏      互联网    创业板 2009-12-25
 ...         ...     ...   ...  ...      ...    ...        ...
 2158  300779.SZ  300779  惠城环保   山东     环境保护    创业板 2019-05-22
 2159  300780.SZ  300780  德恩精工   四川     机械基件    创业板 2019-05-31
 2160  300781.SZ  300781  因赛集团   广东     广告包装    创业板 2019-06-06
 2161  300782.SZ  300782   卓胜微   江苏      元器件    创业板 2019-06-18
 2162  300783.SZ  300783  三只松鼠   安徽       食品    创业板 2019-07-12
 2163  300785.SZ  300785   值得买   北京      互联网    创业板 2019-07-15
 2164  300786.SZ  300786  国林科技   山东     环境保护    创业板 2019-07-23
 2165  300787.SZ  300787  海能实业   江西     通信设备    创业板 2019-08-15
 2166  300788.SZ  300788  中信出版   北京      出版业    创业板 2019-07-05
 2167  300789.SZ  300789  唐源电气   四川     软件服务    创业板 2019-08-28
 2168  300790.SZ  300790  宇瞳光学   广东     电器仪表    创业板 2019-09-20
 2169  300791.SZ  300791  仙乐健康   广东     医疗保健    创业板 2019-09-25
 2170  300792.SZ  300792  壹网壹创   浙江      互联网    创业板 2019-09-27
 2171  300793.SZ  300793  佳禾智能   广东     IT设备    创业板 2019-10-18
 2172  300795.SZ  300795  米奥兰特   浙江      综合类    创业板 2019-10-22
 2173  300796.SZ  300796   贝斯美   浙江     化工原料    创业板 2019-11-15
 2174  300797.SZ  300797  钢研纳克   北京     电器仪表    创业板 2019-11-01
 2175  300798.SZ  300798  锦鸡股份   江苏     染料涂料    创业板 2019-11-22
 2176  300799.SZ  300799  左江科技   北京     软件服务    创业板 2019-10-29
 2177  300800.SZ  300800  力合科技   湖南     电器仪表    创业板 2019-11-06
 2178  300801.SZ  300801  泰和科技   山东     化工原料    创业板 2019-11-28
 2179  300802.SZ  300802  矩子科技   上海     IT设备    创业板 2019-11-14
 2180  300803.SZ  300803   指南针   北京     软件服务    创业板 2019-11-18
 2181  300805.SZ  300805  电声股份   广东     广告包装    创业板 2019-11-21
 2182  300806.SZ  300806   斯迪克   江苏       塑料    创业板 2019-11-25
 2183  300807.SZ  300807  天迈科技   河南     软件服务    创业板 2019-12-19
 2184  300808.SZ  300808  久量股份   广东     家用电器    创业板 2019-11-29
 2185  300809.SZ  300809  华辰装备   江苏     机床制造    创业板 2019-12-04
 2186  300810.SZ  300810  中科海讯   北京     软件服务    创业板 2019-12-06
 2187  300811.SZ  300811  铂科新材   深圳      元器件    创业板 2019-12-30

 [788 rows x 7 columns],
 '科创板':         ts_code  symbol  name area industry market  list_date
 3680  688001.SH  688001  华兴源创   江苏     专用机械    科创板 2019-07-22
 3681  688002.SH  688002  睿创微纳   山东     通信设备    科创板 2019-07-22
 3682  688003.SH  688003  天准科技   江苏     专用机械    科创板 2019-07-22
 3683  688005.SH  688005  容百科技   浙江     电气设备    科创板 2019-07-22
 3684  688006.SH  688006  杭可科技   浙江     电气设备    科创板 2019-07-22
 3685  688007.SH  688007  光峰科技   深圳      元器件    科创板 2019-07-22
 3686  688008.SH  688008  澜起科技   上海      半导体    科创板 2019-07-22
 3687  688009.SH  688009  中国通号   北京     运输设备    科创板 2019-07-22
 3688  688010.SH  688010  福光股份   福建     电器仪表    科创板 2019-07-22
 3689  688011.SH  688011  新光光电  黑龙江      元器件    科创板 2019-07-22
 3690  688012.SH  688012  中微公司   上海     专用机械    科创板 2019-07-22
 3691  688015.SH  688015  交控科技   北京     运输设备    科创板 2019-07-22
 3692  688016.SH  688016  心脉医疗   上海     医疗保健    科创板 2019-07-22
 3693  688018.SH  688018  乐鑫科技   上海      半导体    科创板 2019-07-22
 3694  688019.SH  688019  安集科技   上海      半导体    科创板 2019-07-22
 3695  688020.SH  688020  方邦股份   广东      元器件    科创板 2019-07-22
 3696  688021.SH  688021  奥福环保   山东     环境保护    科创板 2019-11-06
 3697  688022.SH  688022  瀚川智能   江苏     专用机械    科创板 2019-07-22
 3698  688023.SH  688023  安恒信息   浙江     软件服务    科创板 2019-11-05
 3699  688025.SH  688025   杰普特   深圳      元器件    科创板 2019-10-31
 3700  688028.SH  688028   沃尔德   北京     专用机械    科创板 2019-07-22
 3701  688029.SH  688029  南微医学   江苏     医疗保健    科创板 2019-07-22
 3702  688030.SH  688030  山石网科   江苏     软件服务    科创板 2019-09-30
 3703  688033.SH  688033  天宜上佳   北京     运输设备    科创板 2019-07-22
 3704  688036.SH  688036  传音控股   深圳     通信设备    科创板 2019-09-30
 3705  688037.SH  688037   芯源微   辽宁      半导体    科创板 2019-12-16
 3706  688039.SH  688039  当虹科技   浙江     软件服务    科创板 2019-12-11
 3707  688058.SH  688058   宝兰德   北京     软件服务    科创板 2019-11-01
 3708  688066.SH  688066  航天宏图   北京     软件服务    科创板 2019-07-22
 3709  688068.SH  688068  热景生物   北京     医疗保健    科创板 2019-09-30
 ...         ...     ...   ...  ...      ...    ...        ...
 3720  688122.SH  688122  西部超导   陕西      小金属    科创板 2019-07-22
 3721  688123.SH  688123  聚辰股份   上海      半导体    科创板 2019-12-23
 3722  688128.SH  688128  中国电研   广东     专用机械    科创板 2019-11-05
 3723  688138.SH  688138  清溢光电   深圳      元器件    科创板 2019-11-20
 3724  688139.SH  688139  海尔生物   山东     医疗保健    科创板 2019-10-25
 3725  688166.SH  688166  博瑞医药   江苏     化学制药    科创板 2019-11-08
 3726  688168.SH  688168   安博通   北京     软件服务    科创板 2019-09-06
 3727  688188.SH  688188  柏楚电子   上海     软件服务    科创板 2019-08-08
 3728  688196.SH  688196  卓越新能   福建     环境保护    科创板 2019-11-21
 3729  688198.SH  688198  佰仁医疗   北京     医疗保健    科创板 2019-12-09
 3730  688199.SH  688199  久日新材   天津     化工原料    科创板 2019-11-05
 3731  688202.SH  688202   美迪西   上海     医疗保健    科创板 2019-11-05
 3732  688218.SH  688218  江苏北人   江苏     专用机械    科创板 2019-12-11
 3733  688258.SH  688258  卓易信息   江苏     软件服务    科创板 2019-12-09
 3734  688268.SH  688268  华特气体   广东     化工原料    科创板 2019-12-26
 3735  688288.SH  688288  鸿泉物联   浙江     汽车配件    科创板 2019-11-06
 3736  688299.SH  688299  长阳科技   浙江       塑料    科创板 2019-11-06
 3737  688300.SH  688300  联瑞新材   江苏     矿物制品    科创板 2019-11-15
 3738  688310.SH  688310  迈得医疗   浙江     医疗保健    科创板 2019-12-03
 3739  688321.SH  688321  微芯生物   深圳     化学制药    科创板 2019-08-12
 3740  688333.SH  688333   铂力特   陕西     机械基件    科创板 2019-07-22
 3741  688357.SH  688357  建龙微纳   河南     化工原料    科创板 2019-12-04
 3742  688358.SH  688358  祥生医疗   江苏     医疗保健    科创板 2019-12-03
 3743  688363.SH  688363  华熙生物   山东     生物制药    科创板 2019-11-06
 3744  688366.SH  688366  昊海生科   上海     生物制药    科创板 2019-10-30
 3745  688368.SH  688368  晶丰明源   上海      半导体    科创板 2019-10-14
 3746  688369.SH  688369  致远互联   北京     软件服务    科创板 2019-10-31
 3747  688388.SH  688388  嘉元科技   广东      元器件    科创板 2019-07-22
 3748  688389.SH  688389  普门科技   深圳     医疗保健    科创板 2019-11-05
 3749  688399.SH  688399  硕世生物   江苏     医疗保健    科创板 2019-12-05

 [70 rows x 7 columns]}

4

In [22]:
len(df3)
df3.keys()

4

dict_keys(['中小板', '主板', '创业板', '科创板'])

In [28]:
df1.count()['industry']

market
中小板     941
主板     1949
创业板     788
科创板      70
Name: industry, dtype: int64

In [32]:
df1.size()   #后面不可以再跟其他统计依据

market
中小板     941
主板     1951
创业板     788
科创板      70
dtype: int64

#### aggregate函数的使用

In [51]:
#层次描述，先分组，再对分组后的pe_2017进行count，size和sum描述，
#size和count的不同在于，size可以统计NAN，而count不统计
df1=df.groupby(['market','industry'])
df1.aggregate(['count','sum'])['pe_2017'].head()

                 count  sum
market industry
中小板    IT设备         13  130
       专用机械         28  280
       中成药          22  220
       乳制品           7   70
       互联网          27  270

In [31]:
#查看所有行业中，不同板块的数量，所有行业中，中小板块的有941个公司
df1.count()['industry']

market
中小板     941
主板     1949
创业板     788
科创板      70
Name: industry, dtype: int64

### groupby的其他分组类型

#### 以字典的方式为分组依据--跨列axis=1
以字典里新传入的列索引为分组依据，列索引名相同的为一组，如列索引名为red的为一组

In [37]:
import pandas as pd
df = pd.DataFrame({'a': [1, 2, 2], 'b': [4, 3, 6],
                   'c': [7, 2, 5], 'd': [0, 2, 4]}, index=['一', '二', '三'])
df

   a  b  c  d
一  1  4  7  0
二  2  3  2  2
三  2  6  5  4

In [38]:
dic={'a':'red','b':'blue','c':'blue','d':'red','f':'red'}
df.groupby(dic,axis=1).size()

blue    2
red     2
dtype: int64

#### 数据类型为依据--跨列-axis=1
以每列的数据类型为分类依据，相同类型的为一组，如int类的一组，float为一组，object为一组……

In [40]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'a': ['name', 'age', 2], 'b': [4, 3, 6],
                   'c': [7.1, 2.2, np.nan], 'd': [0, 2, 4], 'e': [4.3, 4.6, 5]}, index=['一', '二', '三'])
df

      a  b    c  d    e
一  name  4  7.1  0  4.3
二   age  3  2.2  2  4.6
三     2  6  NaN  4  5.0

In [41]:
df.dtypes

a     object
b      int64
c    float64
d      int64
e    float64
dtype: object

In [42]:
df.groupby(df.dtypes,axis=1).size()

int64      2
float64    2
object     1
dtype: int64

In [43]:
df.groupby(df.dtypes,axis=1).sum()

   int64  float64 object
一      4     11.4   name
二      5      6.8    age
三     10      5.0      2

####  自定义函数进行分组
自定义的函数有一定要求，即传入的参数必须是--行或者列---索引名
通过设置axis=的值进一步确定传入的参数，axis=0以行索引名为参数，axis=1以列索引名为参数

In [53]:
import pandas as pd
df = pd.DataFrame({'a': [1, 2, 2, 2], 'bb': [4, 3, 6, 1],
                   'cc': [7, 2, 5, 3], 'ddd': [0, 2, 4, 6]}, index=['age', 'ne', 'how', 'hhhh'])
df

      a  bb  cc  ddd
age   1   4   7    0
ne    2   3   2    2
how   2   6   5    4
hhhh  2   1   3    6

In [54]:
def func(x):
    return len(x)

In [55]:
#以行索引名的长度为分类依据，长度相同的为一组
df.groupby(func,axis=0).size()

2    1
3    2
4    1
dtype: int64

In [ ]:
#以列索引名的长度为分类依据，长度相同的为一组

In [56]:
df.groupby(func,axis=1).size()

1    1
2    2
3    1
dtype: int64

#### 不同分组依据间的混合使用
字典方式的，函数，数据类型……

In [57]:
import pandas as pd
df = pd.DataFrame({'a': [1, 2, 2, 2], 'bb': [4, 3, 6, 1],
                   'cc': [7, 2, 5, 3], 'ddd': [0, 2, 4, 6]}, index=['age', 'ne', 'how', 'hhhh'])
df

      a  bb  cc  ddd
age   1   4   7    0
ne    2   3   2    2
how   2   6   5    4
hhhh  2   1   3    6

In [69]:
dic={'a':'red','bb':'blue','cc':'red','ddd':'blue','f':'red'}
def func(x):
    return len(x)

In [70]:
df.groupby(func,axis=1).min()

      1  2  3
age   1  4  0
ne    2  2  2
how   2  5  4
hhhh  2  1  6

In [71]:
df.groupby(dic,axis=1).min()

      blue  red
age      0    1
ne       2    2
how      4    2
hhhh     1    2

In [73]:
df.groupby([func,dic],axis=1).min()

       1    2        3
     red blue red blue
age    1    4   7    0
ne     2    3   2    2
how    2    6   5    4
hhhh   2    1   3    6

In [74]:
df.groupby([dic,func],axis=1).min()

     blue    red
        2  3   1  2
age     4  0   1  7
ne      3  2   2  2
how     6  4   2  5
hhhh    1  6   2  3

In [72]:
df.groupby([func,dic],axis=1).size()

1  red     1
2  blue    1
   red     1
3  blue    1
dtype: int64

### transform（）
gropuby 结合transform类似于groupby后，进行聚合

In [12]:
import pandas as pd
df = pd.DataFrame({'a': [1, 2, 2, 2], 'bb': [4, 3, 6, 1],
                   'cc': [7, 2, 5, 3], 'ddd': [0, 2, 4, 6]}, index=['age', 'ne', 'how', 'hhhh'])
df

      a  bb  cc  ddd
age   1   4   7    0
ne    2   3   2    2
how   2   6   5    4
hhhh  2   1   3    6

In [13]:
df.groupby('a').sum()

   bb  cc  ddd
a
1   4   7    0
2  10  10   12

In [14]:
df1=df.groupby('a').transform(sum)
df1

      bb  cc  ddd
age    4   7    0
ne    10  10   12
how   10  10   12
hhhh  10  10   12

#### add_prefix('sum_')
将新生成的的数据和原始数据进行区分

In [15]:
df1=df.groupby('a').transform(sum).add_prefix('sum_')
df1

      sum_bb  sum_cc  sum_ddd
age        4       7        0
ne        10      10       12
how       10      10       12
hhhh      10      10       12

####  实现merge合并的功能

In [11]:

df[df1.columns]=df1
df

      a  bb  cc  ddd  sum_bb  sum_cc  sum_ddd
age   1   4   7    0       4       7        0
ne    2   3   2    2      10      10       12
how   2   6   5    4      10      10       12
hhhh  2   1   3    6      10      10       12

### 索引级别分组---MultiIndex
可以通过修改index和columns参数，实现层次化索引的目的
MultiIndex下有很多函数可以使用
from_arrays（）---传入一个array数组  [[],[],[],……]，内部的[]表示一个个分类，通过name参数，对分类进行命名
from_tuples（）----传入一个元祖列表   [（）,（）,（）,……]

In [75]:
help(pd.MultiIndex)

Help on class MultiIndex in module pandas.core.indexes.multi:

class MultiIndex(pandas.core.indexes.base.Index)
 |  MultiIndex(levels=None, codes=None, sortorder=None, names=None, dtype=None, copy=False, name=None, verify_integrity=True, _set_identity=True)
 |
 |  A multi-level, or hierarchical, index object for pandas objects.
 |
 |  Parameters
 |  ----------
 |  levels : sequence of arrays
 |      The unique labels for each level.
 |  codes : sequence of arrays
 |      Integers for each level designating which label at each location.
 |
 |      .. versionadded:: 0.24.0
 |  labels : sequence of arrays
 |      Integers for each level designating which label at each location.
 |
 |      .. deprecated:: 0.24.0
 |          Use ``codes`` instead
 |  sortorder : optional int
 |      Level of sortedness (must be lexicographically sorted by that
 |      level).
 |  names : optional sequence of objects
 |      Names for each of the index levels. (name is accepted for compat).
 |  copy : bool, default False
 |      Copy the meta-data.
 |  verify_integrity : bool, default True
 |      Check that the levels/codes are consistent and valid.
 |
 |  Attributes
 |  ----------
 |  names
 |  levels
 |  codes
 |  nlevels
 |  levshape
 |
 |  Methods
 |  -------
 |  from_arrays
 |  from_tuples
 |  from_product
 |  from_frame
 |  set_levels
 |  set_codes
 |  to_frame
 |  to_flat_index
 |  is_lexsorted
 |  sortlevel
 |  droplevel
 |  swaplevel
 |  reorder_levels
 |  remove_unused_levels
 |
 |  See Also
 |  --------
 |  MultiIndex.from_arrays  : Convert list of arrays to MultiIndex.
 |  MultiIndex.from_product : Create a MultiIndex from the cartesian product
 |                            of iterables.
 |  MultiIndex.from_tuples  : Convert list of tuples to a MultiIndex.
 |  MultiIndex.from_frame   : Make a MultiIndex from a DataFrame.
 |  Index : The base pandas Index type.
 |
 |  Examples
 |  ---------
 |  A new ``MultiIndex`` is typically constructed using one of the helper
 |  methods :meth:`MultiIndex.from_arrays`, :meth:`MultiIndex.from_product`
 |  and :meth:`MultiIndex.from_tuples`. For example (using ``.from_arrays``):
 |
 |  >>> arrays = [[1, 1, 2, 2], ['red', 'blue', 'red', 'blue']]
 |  >>> pd.MultiIndex.from_arrays(arrays, names=('number', 'color'))
 |  MultiIndex(levels=[[1, 2], ['blue', 'red']],
 |             codes=[[0, 0, 1, 1], [1, 0, 1, 0]],
 |             names=['number', 'color'])
 |
 |  See further examples for how to construct a MultiIndex in the doc strings
 |  of the mentioned helper methods.
 |
 |  Notes
 |  -----
 |  See the `user guide
 |  <http://pandas.pydata.org/pandas-docs/stable/advanced.html>`_ for more.
 |
 |  Method resolution order:
 |      MultiIndex
 |      pandas.core.indexes.base.Index
 |      pandas.core.base.IndexOpsMixin
 |      pandas.core.base.PandasObject
 |      pandas.core.base.StringMixin
 |      pandas.core.accessor.DirNamesMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __abs__(self, other=None)
 |
 |  __add__(self, other=None)
 |
 |  __array__(self, dtype=None)
 |      the array interface, return my values
 |
 |  __contains__(self, key)
 |      Return a boolean indicating whether the provided key is in the index.
 |
 |      Parameters
 |      ----------
 |      key : label
 |          The key to check if it is present in the index.
 |
 |      Returns
 |      -------
 |      bool
 |          Whether the key search is in the index.
 |
 |      See Also
 |      --------
 |      Index.isin : Returns an ndarray of boolean dtype indicating whether the
 |          list-like key is in the index.
 |
 |      Examples
 |      --------
 |      >>> idx = pd.Index([1, 2, 3, 4])
 |      >>> idx
 |      Int64Index([1, 2, 3, 4], dtype='int64')
 |
 |      >>> idx.contains(2)
 |      True
 |      >>> idx.contains(6)
 |      False
 |
 |      This is equivalent to:
 |
 |      >>> 2 in idx
 |      True
 |      >>> 6 in idx
 |      False
 |
 |  __divmod__(self, other=None)
 |
 |  __floordiv__(self, other=None)
 |
 |  __getitem__(self, key)
 |      Override numpy.ndarray's __getitem__ method to work as desired.
 |
 |      This function adds lists and Series as valid boolean indexers
 |      (ndarrays only supports ndarray with dtype=bool).
 |
 |      If resulting ndim != 1, plain ndarray is returned instead of
 |      corresponding `Index` subclass.
 |
 |  __getslice__(self, i, j)
 |
 |  __iadd__(self, other=None)
 |
 |  __inv__(self, other=None)
 |
 |  __isub__(self, other=None)
 |
 |  __len__(self)
 |      Return the length of the Index.
 |
 |  __mod__(self, other=None)
 |
 |  __mul__(self, other=None)
 |
 |  __neg__(self, other=None)
 |
 |  __pos__(self, other=None)
 |
 |  __pow__(self, other=None)
 |
 |  __radd__(self, other=None)
 |
 |  __reduce__(self)
 |      Necessary for making this object picklable
 |
 |  __rfloordiv__(self, other=None)
 |
 |  __rmul__(self, other=None)
 |
 |  __rpow__(self, other=None)
 |
 |  __rsub__(self, other=None)
 |
 |  __rtruediv__(self, other=None)
 |
 |  __setstate__(self, state)
 |      Necessary for making this object picklable
 |
 |  __sub__(self, other=None)
 |
 |  __truediv__(self, other=None)
 |
 |  all(self, other=None)
 |
 |  any(self, other=None)
 |
 |  append(self, other)
 |      Append a collection of Index options together
 |
 |      Parameters
 |      ----------
 |      other : Index or list/tuple of indices
 |
 |      Returns
 |      -------
 |      appended : Index
 |
 |  argsort(self, *args, **kwargs)
 |      Return the integer indices that would sort the index.
 |
 |      Parameters
 |      ----------
 |      *args
 |          Passed to `numpy.ndarray.argsort`.
 |      **kwargs
 |          Passed to `numpy.ndarray.argsort`.
 |
 |      Returns
 |      -------
 |      numpy.ndarray
 |          Integer indices that would sort the index if used as
 |          an indexer.
 |
 |      See Also
 |      --------
 |      numpy.argsort : Similar method for NumPy arrays.
 |      Index.sort_values : Return sorted copy of Index.
 |
 |      Examples
 |      --------
 |      >>> idx = pd.Index(['b', 'a', 'd', 'c'])
 |      >>> idx
 |      Index(['b', 'a', 'd', 'c'], dtype='object')
 |
 |      >>> order = idx.argsort()
 |      >>> order
 |      array([1, 0, 3, 2])
 |
 |      >>> idx[order]
 |      Index(['a', 'b', 'c', 'd'], dtype='object')
 |
 |  astype(self, dtype, copy=True)
 |      Create an Index with values cast to dtypes. The class of a new Index
 |      is determined by dtype. When conversion is impossible, a ValueError
 |      exception is raised.
 |
 |      Parameters
 |      ----------
 |      dtype : numpy dtype or pandas type
 |          Note that any signed integer `dtype` is treated as ``'int64'``,
 |          and any unsigned integer `dtype` is treated as ``'uint64'``,
 |          regardless of the size.
 |      copy : bool, default True
 |          By default, astype always returns a newly allocated object.
 |          If copy is set to False and internal requirements on dtype are
 |          satisfied, the original data is used to create a new Index
 |          or the original Index is returned.
 |
 |          .. versionadded:: 0.19.0
 |
 |  contains = __contains__(self, key)
 |
 |  copy(self, names=None, dtype=None, levels=None, codes=None, deep=False, _set_identity=False, **kwargs)
 |      Make a copy of this object. Names, dtype, levels and codes can be
 |      passed and will be set on new copy.
 |
 |      Parameters
 |      ----------
 |      names : sequence, optional
 |      dtype : numpy dtype or pandas type, optional
 |      levels : sequence, optional
 |      codes : sequence, optional
 |
 |      Returns
 |      -------
 |      copy : MultiIndex
 |
 |      Notes
 |      -----
 |      In most cases, there should be no functional difference from using
 |      ``deep``, but if ``deep`` is passed it will attempt to deepcopy.
 |      This could be potentially expensive on large MultiIndex objects.
 |
 |  delete(self, loc)
 |      Make new index with passed location deleted
 |
 |      Returns
 |      -------
 |      new_index : MultiIndex
 |
 |  difference(self, other, sort=None)
 |      Compute set difference of two MultiIndex objects
 |
 |      Parameters
 |      ----------
 |      other : MultiIndex
 |      sort : False or None, default None
 |          Sort the resulting MultiIndex if possible
 |
 |          .. versionadded:: 0.24.0
 |
 |          .. versionchanged:: 0.24.1
 |
 |             Changed the default value from ``True`` to ``None``
 |             (without change in behaviour).
 |
 |      Returns
 |      -------
 |      diff : MultiIndex
 |
 |  drop(self, codes, level=None, errors='raise')
 |      Make new MultiIndex with passed list of codes deleted
 |
 |      Parameters
 |      ----------
 |      codes : array-like
 |          Must be a list of tuples
 |      level : int or level name, default None
 |
 |      Returns
 |      -------
 |      dropped : MultiIndex
 |
 |  dropna(self, how='any')
 |      Return Index without NA/NaN values
 |
 |      Parameters
 |      ----------
 |      how :  {'any', 'all'}, default 'any'
 |          If the Index is a MultiIndex, drop the value when any or all levels
 |          are NaN.
 |
 |      Returns
 |      -------
 |      valid : Index
 |
 |  duplicated(self, keep='first')
 |      Indicate duplicate index values.
 |
 |      Duplicated values are indicated as ``True`` values in the resulting
 |      array. Either all duplicates, all except the first, or all except the
 |      last occurrence of duplicates can be indicated.
 |
 |      Parameters
 |      ----------
 |      keep : {'first', 'last', False}, default 'first'
 |          The value or values in a set of duplicates to mark as missing.
 |
 |          - 'first' : Mark duplicates as ``True`` except for the first
 |            occurrence.
 |          - 'last' : Mark duplicates as ``True`` except for the last
 |            occurrence.
 |          - ``False`` : Mark all duplicates as ``True``.
 |
 |      Returns
 |      -------
 |      numpy.ndarray
 |
 |      See Also
 |      --------
 |      pandas.Series.duplicated : Equivalent method on pandas.Series.
 |      pandas.DataFrame.duplicated : Equivalent method on pandas.DataFrame.
 |      pandas.Index.drop_duplicates : Remove duplicate values from Index.
 |
 |      Examples
 |      --------
 |      By default, for each set of duplicated values, the first occurrence is
 |      set to False and all others to True:
 |
 |      >>> idx = pd.Index(['lama', 'cow', 'lama', 'beetle', 'lama'])
 |      >>> idx.duplicated()
 |      array([False, False,  True, False,  True])
 |
 |      which is equivalent to
 |
 |      >>> idx.duplicated(keep='first')
 |      array([False, False,  True, False,  True])
 |
 |      By using 'last', the last occurrence of each set of duplicated values
 |      is set on False and all others on True:
 |
 |      >>> idx.duplicated(keep='last')
 |      array([ True, False,  True, False, False])
 |
 |      By setting keep on ``False``, all duplicates are True:
 |
 |      >>> idx.duplicated(keep=False)
 |      array([ True, False,  True, False,  True])
 |
 |  equal_levels(self, other)
 |      Return True if the levels of both MultiIndex objects are the same
 |
 |  equals(self, other)
 |      Determines if two MultiIndex objects have the same labeling information
 |      (the levels themselves do not necessarily have to be the same)
 |
 |      See Also
 |      --------
 |      equal_levels
 |
 |  fillna(self, value=None, downcast=None)
 |      fillna is not implemented for MultiIndex
 |
 |  format(self, space=2, sparsify=None, adjoin=True, names=False, na_rep=None, formatter=None)
 |      Render a string representation of the Index.
 |
 |  get_indexer(self, target, method=None, limit=None, tolerance=None)
 |      Compute indexer and mask for new index given the current index. The
 |      indexer should be then used as an input to ndarray.take to align the
 |      current data to the new index.
 |
 |      Parameters
 |      ----------
 |      target : MultiIndex or list of tuples
 |      method : {None, 'pad'/'ffill', 'backfill'/'bfill', 'nearest'}, optional
 |          * default: exact matches only.
 |          * pad / ffill: find the PREVIOUS index value if no exact match.
 |          * backfill / bfill: use NEXT index value if no exact match
 |          * nearest: use the NEAREST index value if no exact match. Tied
 |            distances are broken by preferring the larger index value.
 |      limit : int, optional
 |          Maximum number of consecutive labels in ``target`` to match for
 |          inexact matches.
 |      tolerance : optional
 |          Maximum distance between original and new labels for inexact
 |          matches. The values of the index at the matching locations most
 |          satisfy the equation ``abs(index[indexer] - target) <= tolerance``.
 |
 |          Tolerance may be a scalar value, which applies the same tolerance
 |          to all values, or list-like, which applies variable tolerance per
 |          element. List-like includes list, tuple, array, Series, and must be
 |          the same size as the index and its dtype must exactly match the
 |          index's type.
 |
 |          .. versionadded:: 0.21.0 (list-like tolerance)
 |
 |      Returns
 |      -------
 |      indexer : ndarray of int
 |          Integers from 0 to n - 1 indicating that the index at these
 |          positions matches the corresponding target values. Missing values
 |          in the target are marked by -1.
 |
 |      Examples
 |      --------
 |      >>> index = pd.Index(['c', 'a', 'b'])
 |      >>> index.get_indexer(['a', 'b', 'x'])
 |      array([ 1,  2, -1])
 |
 |      Notice that the return value is an array of locations in ``index``
 |      and ``x`` is marked by -1, as it is not in ``index``.
 |
 |  get_indexer_non_unique(self, target)
 |      Compute indexer and mask for new index given the current index. The
 |      indexer should be then used as an input to ndarray.take to align the
 |      current data to the new index.
 |
 |      Parameters
 |      ----------
 |      target : MultiIndex or list of tuples
 |
 |      Returns
 |      -------
 |      indexer : ndarray of int
 |          Integers from 0 to n - 1 indicating that the index at these
 |          positions matches the corresponding target values. Missing values
 |          in the target are marked by -1.
 |      missing : ndarray of int
 |          An indexer into the target of the values not found.
 |          These correspond to the -1 in the indexer array
 |
 |  get_level_values(self, level)
 |      Return vector of label values for requested level,
 |      equal to the length of the index.
 |
 |      Parameters
 |      ----------
 |      level : int or str
 |          ``level`` is either the integer position of the level in the
 |          MultiIndex, or the name of the level.
 |
 |      Returns
 |      -------
 |      values : Index
 |          ``values`` is a level of this MultiIndex converted to
 |          a single :class:`Index` (or subclass thereof).
 |
 |      Examples
 |      ---------
 |
 |      Create a MultiIndex:
 |
 |      >>> mi = pd.MultiIndex.from_arrays((list('abc'), list('def')))
 |      >>> mi.names = ['level_1', 'level_2']
 |
 |      Get level values by supplying level as either integer or name:
 |
 |      >>> mi.get_level_values(0)
 |      Index(['a', 'b', 'c'], dtype='object', name='level_1')
 |      >>> mi.get_level_values('level_2')
 |      Index(['d', 'e', 'f'], dtype='object', name='level_2')
 |
 |  get_loc(self, key, method=None)
 |      Get location for a label or a tuple of labels as an integer, slice or
 |      boolean mask.
 |
 |      Parameters
 |      ----------
 |      key : label or tuple of labels (one for each level)
 |      method : None
 |
 |      Returns
 |      -------
 |      loc : int, slice object or boolean mask
 |          If the key is past the lexsort depth, the return may be a
 |          boolean mask array, otherwise it is always a slice or int.
 |
 |      Examples
 |      ---------
 |      >>> mi = pd.MultiIndex.from_arrays([list('abb'), list('def')])
 |
 |      >>> mi.get_loc('b')
 |      slice(1, 3, None)
 |
 |      >>> mi.get_loc(('b', 'e'))
 |      1
 |
 |      Notes
 |      ------
 |      The key cannot be a slice, list of same-level labels, a boolean mask,
 |      or a sequence of such. If you want to use those, use
 |      :meth:`MultiIndex.get_locs` instead.
 |
 |      See Also
 |      --------
 |      Index.get_loc : The get_loc method for (single-level) index.
 |      MultiIndex.slice_locs : Get slice location given start label(s) and
 |                              end label(s).
 |      MultiIndex.get_locs : Get location for a label/slice/list/mask or a
 |                            sequence of such.
 |
 |  get_loc_level(self, key, level=0, drop_level=True)
 |      Get both the location for the requested label(s) and the
 |      resulting sliced index.
 |
 |      Parameters
 |      ----------
 |      key : label or sequence of labels
 |      level : int/level name or list thereof, optional
 |      drop_level : bool, default True
 |          if ``False``, the resulting index will not drop any level.
 |
 |      Returns
 |      -------
 |      loc : A 2-tuple where the elements are:
 |            Element 0: int, slice object or boolean array
 |            Element 1: The resulting sliced multiindex/index. If the key
 |            contains all levels, this will be ``None``.
 |
 |      Examples
 |      --------
 |      >>> mi = pd.MultiIndex.from_arrays([list('abb'), list('def')],
 |      ...                                names=['A', 'B'])
 |
 |      >>> mi.get_loc_level('b')
 |      (slice(1, 3, None), Index(['e', 'f'], dtype='object', name='B'))
 |
 |      >>> mi.get_loc_level('e', level='B')
 |      (array([False,  True, False], dtype=bool),
 |      Index(['b'], dtype='object', name='A'))
 |
 |      >>> mi.get_loc_level(['b', 'e'])
 |      (1, None)
 |
 |      See Also
 |      ---------
 |      MultiIndex.get_loc  : Get location for a label or a tuple of labels.
 |      MultiIndex.get_locs : Get location for a label/slice/list/mask or a
 |                            sequence of such.
 |
 |  get_locs(self, seq)
 |      Get location for a given label/slice/list/mask or a sequence of such as
 |      an array of integers.
 |
 |      Parameters
 |      ----------
 |      seq : label/slice/list/mask or a sequence of such
 |         You should use one of the above for each level.
 |         If a level should not be used, set it to ``slice(None)``.
 |
 |      Returns
 |      -------
 |      locs : array of integers suitable for passing to iloc
 |
 |      Examples
 |      ---------
 |      >>> mi = pd.MultiIndex.from_arrays([list('abb'), list('def')])
 |
 |      >>> mi.get_locs('b')
 |      array([1, 2], dtype=int64)
 |
 |      >>> mi.get_locs([slice(None), ['e', 'f']])
 |      array([1, 2], dtype=int64)
 |
 |      >>> mi.get_locs([[True, False, True], slice('e', 'f')])
 |      array([2], dtype=int64)
 |
 |      See Also
 |      --------
 |      MultiIndex.get_loc : Get location for a label or a tuple of labels.
 |      MultiIndex.slice_locs : Get slice location given start label(s) and
 |                              end label(s).
 |
 |  get_slice_bound(self, label, side, kind)
 |      Calculate slice bound that corresponds to given label.
 |
 |      Returns leftmost (one-past-the-rightmost if ``side=='right'``) position
 |      of given label.
 |
 |      Parameters
 |      ----------
 |      label : object
 |      side : {'left', 'right'}
 |      kind : {'ix', 'loc', 'getitem'}
 |
 |  get_value(self, series, key)
 |      Fast lookup of value from 1-dimensional ndarray. Only use this if you
 |      know what you're doing.
 |
 |  insert(self, loc, item)
 |      Make new MultiIndex inserting new item at location
 |
 |      Parameters
 |      ----------
 |      loc : int
 |      item : tuple

#### ---from_arrays()

In [126]:
arrays = [['kg', 'kg','pond','pond','mkk'], ['red', 'blue', 'red', 'blue','blue']]
column=pd.MultiIndex.from_arrays(arrays, names=('weight', 'color'))
column

MultiIndex(levels=[['kg', 'mkk', 'pond'], ['blue', 'red']],
           codes=[[0, 0, 2, 2, 1], [1, 0, 1, 0, 0]],
           names=['weight', 'color'])

In [127]:
#要生成四列数据，行数无所谓，与groupby中按两个字典进行分组得到的结果

df=pd.DataFrame(np.random.randint(10,100,15).reshape(3,5),columns=column,index=['一', '二', '三'])
df

weight  kg      pond       mkk
color  red blue  red blue blue
一       41   39   95   74   16
二       73   81   40   61   60
三       36   50   51   83   88

#### 与groupby的对比
虽然格式相似，但是完全不一样：
首先，.MultiIndex显示的是分组后的一个结果，里面的数据均为原数据，而groupby后的结果需要结合统计分析才能以表格的形式展现出来
其次，MultiIndex后得到的表格有名字，而groupby没有

In [100]:
df = pd.DataFrame({'a': [2, 4, 2], 'b': [4, 3, 6],
                   'c': [7.1, 2.2, np.nan], 'd': [0, 2, 4],'e':[2,4,6]}, index=['一', '二', '三'])
df

   a  b    c  d  e
一  2  4  7.1  0  2
二  4  3  2.2  2  4
三  2  6  NaN  4  6

In [101]:
dic1 = {'a': 'red', 'b': 'blue', 'c': 'red', 'd': 'blue','e':'blue'}
dic2 = {'a': 1, 'b': 3, 'c': 2, 'd': 2, 'e': 2}
df.groupby([dic2, dic1], axis=1).min()

     1    2         3
   red blue  red blue
一  2.0  0.0  7.1  4.0
二  4.0  2.0  2.2  3.0
三  2.0  4.0  NaN  6.0

#### --from_tuples()

随机生成一个DataFram，生成的列数要和from_tuples中传入的（）数保持一致

In [107]:
a=pd.MultiIndex.from_tuples([('weight','kg'),('weight','pound'),('color','red'),('color','blue')])
a

MultiIndex(levels=[['color', 'weight'], ['blue', 'kg', 'pound', 'red']],
           codes=[[1, 1, 0, 0], [1, 2, 3, 0]])

In [109]:
df=pd.DataFrame(np.random.randint(10,100,12).reshape(3,4),columns=a,index=['一', '二', '三'])
df

  weight       color
      kg pound   red blue
一     12    81    49   84
二     86    85    14   43
三     63    12    16   56

已有df，传入新的columns时，若df有5列，则from_tuples中需要传入5个（）

In [110]:
df = pd.DataFrame({'a': [2, 4, 2], 'b': [4, 3, 6],
                   'c': [7.1, 2.2, np.nan], 'd': [0, 2, 4],'e':[2,4,6]}, index=['一', '二', '三'])
df

   a  b    c  d  e
一  2  4  7.1  0  2
二  4  3  2.2  2  4
三  2  6  NaN  4  6

In [120]:
a = pd.MultiIndex.from_tuples([('weight', 'kg'), ('weight', 'pound'),
                              ('color', 'red'), ('color', 'blue'),('color', 'blue')])
a

MultiIndex(levels=[['color', 'weight'], ['blue', 'kg', 'pound', 'red']],
           codes=[[1, 1, 0, 0, 0], [1, 2, 3, 0, 0]])

In [121]:
df.columns=a
df

  weight       color
      kg pound   red blue blue
一      2     4   7.1    0    2
二      4     3   2.2    2    4
三      2     6   NaN    4    6

#### 与之前的层次化索引对比

In [22]:
import pandas as pd 
import numpy as np 
column=[['weight','weight','weight','color','color'],['kg','pond', 'mkk','red', 'blue']]
df = pd.DataFrame([[2, 4, 2,2,5],[4, 3, 6,77,9],
                   [2, 4, 6,8,9]])
df.columns=column

df

  weight          color
      kg pond mkk   red blue
0      2    4   2     2    5
1      4    3   6    77    9
2      2    4   6     8    9

In [23]:

df.columns.names=['一级','二级']
df

一级 weight          color
二级     kg pond mkk   red blue
0       2    4   2     2    5
1       4    3   6    77    9
2       2    4   6     8    9

In [21]:
df.columns

MultiIndex(levels=[['color', 'weight'], ['blue', 'kg', 'mkk', 'pond', 'red']],
           codes=[[1, 1, 1, 0, 0], [1, 3, 2, 4, 0]],
           names=['一级', '二级'])

#### 修改index索引

In [25]:
df = pd.DataFrame([[2, 4, 2,2,5],[4, 3, 6,77,9],
                   [2, 4, 6,8,9],[22, 53, 6,77,9]])
df

    0   1  2   3  4
0   2   4  2   2  5
1   4   3  6  77  9
2   2   4  6   8  9
3  22  53  6  77  9

使用MultiIndex方法

In [31]:
inde=pd.MultiIndex.from_tuples([('上半年','第一季度'),('上半年','第二季度'),('下半年','第三季度'),('下半年','第四季度')],names=['年度','季度'])
df.index=inde

df

           0   1  2   3  4
年度  季度
上半年 第一季度   2   4  2   2  5
    第二季度   4   3  6  77  9
下半年 第三季度   2   4  6   8  9
    第四季度  22  53  6  77  9

用普通方法

In [ ]:
df = pd.DataFrame([[2, 4, 2,2,5],[4, 3, 6,77,9],
                   [2, 4, 6,8,9],[22, 53, 6,77,9]])
df

In [30]:
inde=[['上半年','上半年','下半年','下半年'],['第一季度','第二季度','第三季度','第四季度']]
df.index=inde
df.index.names=['年度','季度']
df

           0   1  2   3  4
年度  季度
上半年 第一季度   2   4  2   2  5
    第二季度   4   3  6  77  9
下半年 第三季度   2   4  6   8  9
    第四季度  22  53  6  77  9

### 数据透视---pivot-table
令参数fill_value=0  可以将Nan填充为0，再进行运算
values可以传入多个参数，进行相关的运算

In [44]:
df.insert(1,'pe_2015',6)

In [45]:
df.insert(1,'pe_2016',8)

In [46]:
df.insert(1,'pe_2017',10)

In [47]:
df.head()

,ts_code,pe_2017,pe_2016,pe_2015,symbol,name,area,industry,market,list_date
0,000001.SZ,10,8,6,000001,平安银行,深圳,银行,主板,1991-04-03
1,000002.SZ,10,8,6,000002,万科A,深圳,全国地产,主板,1991-01-29
2,000004.SZ,10,8,6,000004,国农科技,深圳,生物制药,主板,1991-01-14
3,000005.SZ,10,8,6,000005,世纪星源,深圳,环境保护,主板,1990-12-10
4,000006.SZ,10,8,6,000006,深振业A,深圳,区域地产,主板,1992-04-27

#### aggfunc、fill_value、margins参数

In [ ]:
df.pivot_table(values='pe_2017',index='industry',columns='market',aggfunc='sum').head()

In [61]:
df.pivot_table(values='pe_2017',index='industry',columns='market',aggfunc='sum',fill_value=0).head()

market    中小板   主板  创业板  科创板
industry
IT设备      130  110  120    0
专用机械      280  500  520   70
中成药       220  390   80    0
乳制品        70   50    0    0
互联网       270  190  240    0

In [64]:
df.pivot_table(values=['pe_2017','pe_2016'],index='industry',columns='market',aggfunc='sum',fill_value=0,margins=True)

         pe_2016                          pe_2017
market       中小板     主板   创业板  科创板    All     中小板     主板   创业板  科创板    All
industry
IT设备         104     88    96    0    288     130    110   120    0    360
专用机械         224    400   416   56   1096     280    500   520   70   1370
中成药          176    312    64    0    552     220    390    80    0    690
乳制品           56     40     0    0     96      70     50     0    0    120
互联网          216    152   192    0    560     270    190   240    0    700
仓储物流         104    176    24    0    304     130    220    30    0    380
供气供热          40    184     8    0    232      50    230    10    0    290
保险             0     56     0    0     56       0     70     0    0     70
元器件          496    392   520   48   1456     620    490   650   60   1820
全国地产          16    272     0    0    288      20    340     0    0    360
公共交通           8     56     0    0     64      10     70     0    0     80
公路            16     40     0    0     56      20     50     0    0     70
其他商业          32     48    16    0     96      40     60    20    0    120
其他建材         120     72    32    0    224     150     90    40    0    280
农业综合          64     96    48    0    208      80    120    60    0    260
农用机械          24     40     8    0     72      30     50    10    0     90
农药化肥         120    208    16    0    344     150    260    20    0    430
出版业            8    144    32    0    184      10    180    40    0    230
化学制药         240    384   184   16    824     300    480   230   20   1030
化工原料         416    544   312   32   1304     520    680   390   40   1630
化工机械          48     24     8    0     80      60     30    10    0    100
化纤            56    128    16    0    200      70    160    20    0    250
区域地产          56    456     0    0    512      70    570     0    0    640
医疗保健         104    176   296   88    664     130    220   370  110    830
医药商业          40    160     0    0    200      50    200     0    0    250
半导体           72    104   224   56    456      90    130   280   70    570
商品城            8     16     0    0     24      10     20     0    0     30
商贸代理           8    160     0    0    168      10    200     0    0    210
啤酒             8     48     0    0     56      10     60     0    0     70
园区开发           0    128     0    0    128       0    160     0    0    160
...          ...    ...   ...  ...    ...     ...    ...   ...  ...    ...
种植业           16     72    24    0    112      20     90    30    0    140
空运             8     56     0    0     64      10     70     0    0     80
红黄酒            8     72     0    0     80      10     90     0    0    100
纺织           104    192    16    0    312     130    240    20    0    390
纺织机械          24     40    16    0     80      30     50    20    0    100
综合类           16    240    24    0    280      20    300    30    0    350
航空            32    112    48    0    192      40    140    60    0    240
船舶             0     40    24    0     64       0     50    30    0     80
装修装饰         128     56    24    0    208     160     70    30    0    260
证券            64    272     8    0    344      80    340    10    0    430
超市连锁          32     56     0    0     88      40     70     0    0    110
路桥             0    152     0    0    152       0    190     0    0    190
软件服务         280    352   832  104   1568     350    440  1040  130   1960
软饮料            0     48     0    0     48       0     60     0    0     60
轻工机械          32     16    32    0     80      40     20    40    0    100
运输设备          32    104    24   24    184      40    130    30   30    230
通信设备         248    336   344   16    944     310    420   430   20   1180
造纸            56    144     0    0    200      70    180     0    0    250
酒店餐饮          16     56     0    0     72      20     70     0    0     90
钢加工           56    120     8    0    184      70    150    10    0    230
铁路             0     32     0    0     32       0     40     0    0     40
铅锌             8     96     0    0    104      10    120     0    0    130
铜             24     72     8    0    104      30     90    10    0    130
铝             64    104    32    0    200      80    130    40    0    250
银行            56    232     0    0    288      70    290     0    0    360
陶瓷             0     24    24    0     48       0     30    30    0     60
食品           176    264    48    8    496     220    330    60   10    620
饲料            64     64     8    0    136      80     80    10    0    170
黄金            16     88     0    0    104      20    110     0    0    130
All         7528  15592  6304  560  29984    9410  19490  7880  700  37480

[111 rows x 10 columns]

### 拼接和拆分

#### 与numpy中的比较相似:hstack,vstack,hsplit,vsplit

In [24]:
import numpy as np
t=np.arange(12).reshape(3,4)
t

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [25]:
np.hsplit(t,2)

[array([[0, 1],
        [4, 5],
        [8, 9]]), array([[ 2,  3],
        [ 6,  7],
        [10, 11]])]

In [26]:
x1=np.hsplit(t,2)[0]
x2=np.hsplit(t,2)[1]
x1
x2

array([[0, 1],
       [4, 5],
       [8, 9]])

array([[ 2,  3],
       [ 6,  7],
       [10, 11]])

In [27]:
np.vstack((x1,x2))

array([[ 0,  1],
       [ 4,  5],
       [ 8,  9],
       [ 2,  3],
       [ 6,  7],
       [10, 11]])

In [28]:
np.hstack((x1,x2))

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])