In [39]:
import numpy as np
import pandas as pd
import tushare as ts
pro=ts.pro_api('5f2dc9d17ebed3601a4fbea74148a25067d067138bf88515693e9b7d')
df = pd.DataFrame({'A1': [1, 2, 2], 'A2': [4, 3, 6],
                   'A3': [7, 2, 5]}, index=['一', '二', '三'])
df

   A1  A2  A3
一   1   4   7
二   2   3   2
三   2   6   5

In [21]:
import datetime

In [25]:
datetime.datetime.today()  #可以将today（）换成now（）

datetime.datetime(2019, 12, 27, 14, 56, 47, 262499)

In [28]:
datetime.datetime.today().date()

datetime.date(2019, 12, 27)

In [30]:
datetime.date.today()

datetime.date(2019, 12, 27)

### DatetimeIndex生成时间索引

In [35]:
index=pd.DatetimeIndex(['2019-01-02','2019-01-03','2019-01-04','2018-01-04','2018-01-05','2018-01-06'])
df=pd.DataFrame(np.arange(6),columns=['time'],index=index)
df

            time
2019-01-02     0
2019-01-03     1
2019-01-04     2
2018-01-04     3
2018-01-05     4
2018-01-06     5

In [36]:
df['2018']

            time
2018-01-04     3
2018-01-05     4
2018-01-06     5

In [37]:
df['time'].dtype

dtype('int32')

### 自己设置成时间索引

In [42]:
df1 = pro.daily_basic(ts_code='000001.SZ',trade_date='', fields='ts_code,trade_date,turnover_rate,volume_ratio,pe,pb')
df1['trade_date']=df1['trade_date'].astype('datetime64')
df1=df1.set_index('trade_date')
df1.head()

              ts_code  turnover_rate  volume_ratio       pe      pb
trade_date
2019-12-27  000001.SZ         0.5373          2.00  13.0035  1.2036
2019-12-26  000001.SZ         0.1917          0.64  12.8784  1.1921
2019-12-25  000001.SZ         0.2138          0.63  12.7454  1.1798
2019-12-24  000001.SZ         0.2366          0.57  12.8236  1.1870
2019-12-23  000001.SZ         0.3689          0.87  12.6985  1.1754

In [46]:
df1['2018'].head()

              ts_code  turnover_rate  volume_ratio      pe      pb
trade_date
2018-12-28  000001.SZ         0.3358          0.92  6.9455  0.7481
2018-12-27  000001.SZ         0.3638          0.89  6.8714  0.7402
2018-12-26  000001.SZ         0.2453          0.57  6.8862  0.7418
2018-12-25  000001.SZ         0.3416          0.81  6.9158  0.7450
2018-12-24  000001.SZ         0.2965          0.69  6.9751  0.7513