In [41]:
import tushare as ts
import pandas as pd 
import numpy as np 
pro=ts.pro_api('5f2dc9d17ebed3601a4fbea74148a25067d067138bf88515693e9b7d')
df=pro.stock_basic(exchange='',list_status='L', fields='ts_code,symbol,name,area,industry,list_date')

In [26]:
code=np.array(df['ts_code'])
code

array(['000001.SZ', '000002.SZ', '000004.SZ', ..., '688388.SH',
       '688389.SH', '688399.SH'], dtype=object)

In [36]:

for i in code:
    
     df1 = pro.daily_basic(ts_code=i,trade_date='20180726', fields='ts_code,trade_date,turnover_rate,volume_ratio,pe,pb')
     df1
     break

     ts_code trade_date  turnover_rate  volume_ratio      pe      pb
0  000001.SZ   20180726         0.4854          0.69  6.8492  0.7898

In [ ]:
df1 = pro.daily_basic(ts_code=000001.SZ,trade_date='20180726', fields='ts_code,trade_date,turnover_rate,volume_ratio,pe,pb')
df2=pro.daily_basic(ts_code=000002and.SZ,trade_date='20180726', fields='ts_code,trade_date,turnover_rate,volume_ratio,pe,pb') 
df1.merge()

In [52]:
df1 = pro.daily_basic(ts_code='000001.SZ',trade_date='', fields='ts_code,trade_date,turnover_rate,volume_ratio,pe,pb')
df1['trade_date']=df1['trade_date'].astype('datetime64')
df1['trade_date'].dtype
df1.head()

dtype('<M8[ns]')

     ts_code trade_date  turnover_rate  volume_ratio       pe      pb
0  000001.SZ 2019-12-27         0.5373          2.00  13.0035  1.2036
1  000001.SZ 2019-12-26         0.1917          0.64  12.8784  1.1921
2  000001.SZ 2019-12-25         0.2138          0.63  12.7454  1.1798
3  000001.SZ 2019-12-24         0.2366          0.57  12.8236  1.1870
4  000001.SZ 2019-12-23         0.3689          0.87  12.6985  1.1754

In [66]:
df1=df1.set_index('trade_date').head()

In [67]:
df1.head()

              ts_code  turnover_rate  volume_ratio       pe      pb
trade_date
2019-12-27  000001.SZ         0.5373          2.00  13.0035  1.2036
2019-12-26  000001.SZ         0.1917          0.64  12.8784  1.1921
2019-12-25  000001.SZ         0.2138          0.63  12.7454  1.1798
2019-12-24  000001.SZ         0.2366          0.57  12.8236  1.1870
2019-12-23  000001.SZ         0.3689          0.87  12.6985  1.1754

In [69]:
df1['2019']

              ts_code  turnover_rate  volume_ratio       pe      pb
trade_date
2019-12-27  000001.SZ         0.5373          2.00  13.0035  1.2036
2019-12-26  000001.SZ         0.1917          0.64  12.8784  1.1921
2019-12-25  000001.SZ         0.2138          0.63  12.7454  1.1798
2019-12-24  000001.SZ         0.2366          0.57  12.8236  1.1870
2019-12-23  000001.SZ         0.3689          0.87  12.6985  1.1754