In [2]:
import numpy as np
import pandas as pd
import tushare as ts

In [ ]:
pro=ts.pro_api('5f2dc9d17ebed3601a4fbea74148a25067d067138bf88515693e9b7d')
df = pd.DataFrame({'A1': [1, 2, 2], 'A2': [4, 3, 6],
                   'A3': [7, 2, 5]}, index=['一', '二', '三'])
df

In [3]:
import datetime

## datetime子模块

### today和now  获取当前日期和时间
二者结果一致

In [11]:
today=datetime.datetime.today()  
today
type(today)

datetime.datetime(2020, 1, 20, 11, 28, 53, 125806)

datetime.datetime

In [12]:
now=datetime.datetime.now() 
type(now)
now

datetime.datetime

datetime.datetime(2020, 1, 20, 11, 29, 15, 411080)

### 创建日期

In [17]:
day1=datetime.datetime(2017,2,13)
day2=datetime.datetime(2019,2,13,3,20)
day1
day2

datetime.datetime(2017, 2, 13, 0, 0)

datetime.datetime(2019, 2, 13, 3, 20)

### 日期相减

In [18]:
diff=day2-day1
diff

datetime.timedelta(days=730, seconds=12000)

### datetime----字符串str的转换
%y 两位数的年份表示（00-99）%Y 四位数的年份表示（000-9999）%m 月份（01-12）%d 月内中的一天（0-31）

%H 24小时制小时数（0-23）%I 12小时制小时数（01-12）%M 分钟数（00=59）%S 秒（00-59）

#### str（对象）

In [20]:
#法一：
sd1=str(day1)
sd1

'2017-02-13 00:00:00'

#### datetime.datetime.strftime(对象1,格式1)
根据格式1设置对象1 的格式

In [22]:
#法二
sd2=day2.strftime('%Y-%m-%d')
sd2

'2019-02-13'

In [27]:
#法三
sd2=datetime.datetime.strftime(day2,'%Y-%m-%d')
sd2

'2019-02-13'

In [29]:
sd2=day2.strftime('%Y/%m/%d')
sd2

'2019/02/13'

### 字符串str-----datetime的转换

#### datetime.datetime.strptime(对象1，格式1）
根据对象1设置 格式1的格式

In [31]:
#法一：
d1=datetime.datetime.strptime(sd1,'%Y-%m-%d  %H:%M:%S')
d1

datetime.datetime(2017, 2, 13, 0, 0)

#### pd.to_datetime(对象)

In [28]:
#法二：
d1=pd.to_datetime(sd1)
d1

Timestamp('2017-02-13 00:00:00')

#### dateutil.parser.parse（对象）
该方法适用范围更加的广泛，可将外国习惯的日期直接转换成我们习惯的格式

In [34]:
#法三：
from dateutil.parser import parse
parse(sd1)

datetime.datetime(2017, 2, 13, 0, 0)

In [36]:
sd3='08-22-2019'
parse(sd3)

datetime.datetime(2019, 8, 22, 0, 0)

## pd中的时间处理
可通过df['2018']的方式按时间条件筛选

### 指定index为datetime.datetime的list

In [38]:
index=[datetime.datetime(2019,1,2),datetime.datetime(2019,1,3),datetime.datetime(2019,1,4),datetime.datetime(2019,1,5)]
df=pd.Series(np.random.randn(4),index=index)
df

2019-01-02   -0.558812
2019-01-03    0.014104
2019-01-04    0.409751
2019-01-05    1.565709
dtype: float64

###  date_range
 start,end,periods=5, freq='M'

#### freq参数
'(默认为‘D’，频率为天）,'W-SUN'每周日（默认），'W-SAT'每周六
'4D’表示四天 ‘BM’表示每个月的最后一个工作日   ‘M'表示每月最后一个日历日

In [45]:
dates=pd.date_range(start='2019-1-1',end='2019/3/2' ,freq='W-SAT')
dates

DatetimeIndex(['2019-01-05', '2019-01-12', '2019-01-19', '2019-01-26',
               '2019-02-02', '2019-02-09', '2019-02-16', '2019-02-23',
               '2019-03-02'],
              dtype='datetime64[ns]', freq='W-SAT')

In [63]:
dates=pd.date_range(start='2019-1-1', periods=5, freq='4D')  #每隔四天
dates

DatetimeIndex(['2019-01-01', '2019-01-05', '2019-01-09', '2019-01-13',
               '2019-01-17'],
              dtype='datetime64[ns]', freq='4D')

In [70]:
dates=pd.date_range(start='2019-1-1',periods=8,freq='M')  #每月最后一个日历日
dates

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31'],
              dtype='datetime64[ns]', freq='M')

#### normalize规范化时间戳

In [69]:
dates=pd.date_range(start='2019-1-1 12:10:21', periods=5, freq='4D')  #每隔四天
dates
dates1=pd.date_range(start='2019-1-1 12:10:21', periods=5, freq='4D',normalize=True)  #每隔四天
dates1

DatetimeIndex(['2019-01-01 12:10:21', '2019-01-05 12:10:21',
               '2019-01-09 12:10:21', '2019-01-13 12:10:21',
               '2019-01-17 12:10:21'],
              dtype='datetime64[ns]', freq='4D')

DatetimeIndex(['2019-01-01', '2019-01-05', '2019-01-09', '2019-01-13',
               '2019-01-17'],
              dtype='datetime64[ns]', freq='4D')

#### 频率与偏移量
通过加法进行连接

In [73]:
a=pd.tseries.offsets.Week(2)+pd.tseries.offsets.Hour(12)
t=pd.date_range('2017/02/18','20170418',freq=a)
t

DatetimeIndex(['2017-02-18 00:00:00', '2017-03-04 12:00:00',
               '2017-03-19 00:00:00', '2017-04-02 12:00:00',
               '2017-04-17 00:00:00'],
              dtype='datetime64[ns]', freq='348H')

#### shift
延时间轴将数据进行前移或者后移，保持索引不变,适用于任何类型的df
shift（1）向后移，shift（-1）向前移

In [74]:
dates=pd.date_range(start='2019-1-1',end='2019/3/2' ,freq='W-SAT')
df=pd.Series(np.random.randn(len(dates)),index=dates)
df

2019-01-05    0.225913
2019-01-12    1.938023
2019-01-19   -0.836997
2019-01-26    2.033849
2019-02-02    0.592290
2019-02-09   -0.706604
2019-02-16   -0.796071
2019-02-23    0.198632
2019-03-02    2.173571
Freq: W-SAT, dtype: float64

In [76]:
df.shift(2)

2019-01-05         NaN
2019-01-12         NaN
2019-01-19    0.225913
2019-01-26    1.938023
2019-02-02   -0.836997
2019-02-09    2.033849
2019-02-16    0.592290
2019-02-23   -0.706604
2019-03-02   -0.796071
Freq: W-SAT, dtype: float64

In [81]:
df1=pd.Series(np.random.randn(4),index=['a','b','c','d'])
df1.shift(-1)

a    0.434802
b   -0.321616
c   -1.174677
d         NaN
dtype: float64

### DatetimeIndex生成时间索引

In [35]:
index=pd.DatetimeIndex(['2019-01-02','2019-01-03','2019-01-04','2018-01-04','2018-01-05','2018-01-06'])
df=pd.DataFrame(np.arange(6),columns=['time'],index=index)
df

            time
2019-01-02     0
2019-01-03     1
2019-01-04     2
2018-01-04     3
2018-01-05     4
2018-01-06     5

In [36]:
df['2018']

            time
2018-01-04     3
2018-01-05     4
2018-01-06     5

In [37]:
df['time'].dtype

dtype('int32')

###  astype('datetime64')--自己设置成时间索引

In [42]:
df1 = pro.daily_basic(ts_code='000001.SZ',trade_date='', fields='ts_code,trade_date,turnover_rate,volume_ratio,pe,pb')
df1['trade_date']=df1['trade_date'].astype('datetime64')
df1=df1.set_index('trade_date')
df1.head()

              ts_code  turnover_rate  volume_ratio       pe      pb
trade_date
2019-12-27  000001.SZ         0.5373          2.00  13.0035  1.2036
2019-12-26  000001.SZ         0.1917          0.64  12.8784  1.1921
2019-12-25  000001.SZ         0.2138          0.63  12.7454  1.1798
2019-12-24  000001.SZ         0.2366          0.57  12.8236  1.1870
2019-12-23  000001.SZ         0.3689          0.87  12.6985  1.1754

In [46]:
df1['2018'].head()

              ts_code  turnover_rate  volume_ratio      pe      pb
trade_date
2018-12-28  000001.SZ         0.3358          0.92  6.9455  0.7481
2018-12-27  000001.SZ         0.3638          0.89  6.8714  0.7402
2018-12-26  000001.SZ         0.2453          0.57  6.8862  0.7418
2018-12-25  000001.SZ         0.3416          0.81  6.9158  0.7450
2018-12-24  000001.SZ         0.2965          0.69  6.9751  0.7513

### 索引和切片

In [47]:
dates=pd.date_range(start='2019-1-1',end='2019/3/2' ,freq='W-SAT')
df=pd.Series(np.random.randn(len(dates)),index=dates)
df

2019-01-05   -1.508994
2019-01-12   -2.131646
2019-01-19   -0.437919
2019-01-26    1.950983
2019-02-02    0.818628
2019-02-09    0.052741
2019-02-16   -0.729324
2019-02-23   -0.254989
2019-03-02   -0.097569
Freq: W-SAT, dtype: float64

#### 位置进行索引

In [57]:
dates[0]

Timestamp('2019-01-05 00:00:00', freq='W-SAT')

#### 值进行索引

In [55]:
# 索引值--法一：放入可以被解析的字符串:'2019-1-26'   '2019/2/23'  '20190216'等
df['20190216']

-0.7293235145052273

In [56]:
df[datetime.datetime(2019,2,16)]   # 索引值--法二

-0.7293235145052273

#### 按年份、月份进行索引

In [58]:
df['2019-2']

2019-02-02    0.818628
2019-02-09    0.052741
2019-02-16   -0.729324
2019-02-23   -0.254989
Freq: W-SAT, dtype: float64

#### 切片

In [59]:
df['2019-1-26':]

2019-01-26    1.950983
2019-02-02    0.818628
2019-02-09    0.052741
2019-02-16   -0.729324
2019-02-23   -0.254989
2019-03-02   -0.097569
Freq: W-SAT, dtype: float64

In [60]:
df['2019-1-26':'2019/2/23']

2019-01-26    1.950983
2019-02-02    0.818628
2019-02-09    0.052741
2019-02-16   -0.729324
2019-02-23   -0.254989
Freq: W-SAT, dtype: float64

### truncate( )---过滤

In [61]:
df

2019-01-05   -1.508994
2019-01-12   -2.131646
2019-01-19   -0.437919
2019-01-26    1.950983
2019-02-02    0.818628
2019-02-09    0.052741
2019-02-16   -0.729324
2019-02-23   -0.254989
2019-03-02   -0.097569
Freq: W-SAT, dtype: float64

In [62]:
df.truncate(before='2019-02-02',after='2019-02-23')

2019-02-02    0.818628
2019-02-09    0.052741
2019-02-16   -0.729324
2019-02-23   -0.254989
Freq: W-SAT, dtype: float64